@font-face {
  font-family: 'ArialMT';
  src: url('ArialMT.woff') format('woff'),
       url('ArialMT.ttf') format('truetype'),
       url('ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial_3';
  src: url('arial_3.eot');
  src: url('arial_3.woff2') format('woff2'),
       url('arial_3.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

