@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('ArialRoundedMTBold.woff') format('woff'),
       url('ArialRoundedMTBold.ttf') format('truetype'),
       url('ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial-round';
  src: url('arial-round.eot');
  src: url('arial-round.woff2') format('woff2'),
       url('arial-round.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

