@font-face {
  font-family: 'Ubuntu-B';
  src: url('Ubuntu-B.eot');
  src: url('Ubuntu-B.woff2') format('woff2'),
       url('Ubuntu-B.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.woff') format('woff'),
       url('Ubuntu-Bold.ttf') format('truetype'),
       url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

