.application-table
{
    .table-content
    {
        width: 100%;
        float: left;
        padding: 12px;
        margin: 0 0 150px;
        table {
            border-collapse: separate;
            border-spacing: 0;
            min-width: 350px;
          }
          table tr th,
          table tr td {
            border-right: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            padding: 15px 25px;
            
          }
          table tr th:first-child,
          table tr td:first-child {
            border-left: 1px solid #bbb;
          }
          table tr th {
            background: #eee;
            border-top: 1px solid #bbb;
            text-align: left;
          }
          
          /* top-left border-radius */
          table tr:first-child th:first-child {
            border-top-left-radius: 20px;
          }
          
          /* top-right border-radius */
          table tr:first-child th:last-child {
            border-top-right-radius: 20px;
          }
          
          /* bottom-left border-radius */
          table tr:last-child td:first-child {
            border-bottom-left-radius: 20px;
          }
          
          /* bottom-right border-radius */
          table tr:last-child td:last-child {
            border-bottom-right-radius: 20px;
          }
          
        .table-striped 
        {
            tbody 
            {
                tr
                {
                    
                    
                }
            }
        }
        table
        {
            thead
            {
                tr
                {
                    height: 55px;
                    th
                    {
                        background-color: #00ABA4;
                        color: #FFF;
                        font-size: 20px;
                        font-family: 'ArialMT';
                        min-height: 55px;
                        font-weight: normal;
                    }
                }
            }
            tbody
            {
                tr
                {
                    height: 55px;
                    td
                    {
                        color: #474747;
                        font-family: 'ArialMT';
                        font-size: 20px;
                    }
                    
                    &:nth-of-type(2n+2)
                    {
                        background-color: #EAEAEA !important;
                    }
                    &:last-child
                    {
                        td
                        {
                            &:first-child
                            {
                                border-radius: 0 0px 0px 20px;
                            }
                            &:last-child
                            {
                                border-radius: 0 0px 20px 0;
                            }
                            
                        }
                        
                    }
                }
            }
        }
    }
}