.blog-main-box
{

.all-comment-box
{
    width: 100%;
    float: left;
    padding: 50px 0 50px;
    .comment-bx
    {
        width: 100%;
        float: left;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #d1d1d1;
        .img-bx
        {
            width: 22%;
            float: left;
            border-radius: 10px;
            img
            {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        .comment
        {
            width: 78%;
            float: left;
            padding: 0px 0px 0px 25px;
            position: relative;
            .comment-text
            {
                width: 100%;
                float: left;
                min-height: 125px;
                h3
                {
                    font-family: 'ArialMT';
                    font-weight: 600;
                    padding:20px 0 5px;
                    font-size: 25px;
                    color: #010101;
                }
                p
                {
                    font-family: 'ArialMT';
                    margin: 0;
                    padding: 0 0 5px;
                    font-size: 18px;
                }
            }
            .add-more
            {
                width: 100%;
                float: left;
                span
                {
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    color: #FFF;
                    float: left;
                    border-radius: 50%;
                    margin: 0px 15px 0px 0;
                    font-size: 34px;
                    padding: 0px 0 0 0;
                    line-height: 28px;
                }
                label
                {
                    margin: 0;
                    padding: 5px 0 0;
                    float: left;
                    color: #848484;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
    .blog-box-btn
    {
        
        padding: 30px 0;
        a
        {
            width: 210px;
            margin: 0 auto;
            
        }
    }
}
    
}
