.build-cv
{
    width: 100%;
    float: left;
    margin-bottom: 100px !important;
    .top-margin
    {
        margin: 50px -15px 85px;
    }
    .star-ratting-bx
    {
        position: relative;
        float: left;
        width: 100%;
        margin: 5px 0 0;
        .star-rate
        {
            position: inherit;
        }
    }
    
    .pupup-button
    {
        padding: 15px 0 0;
    }
    .cv-photo
    {
        width: 80%;
        float: left;
        .img-box
        {
            margin-bottom: 25px;
        }
        p
        {
            color: #a1a1a1;
            font-size: 18px;
            text-align: center;
            padding: 0;
        }
    }
    .input-label
    {
        font-weight: normal;
        font-size: 18px;
        color: #303030;
        font-family: 'ArialMT';
    }
    .candidate-cv-select
    {
        float: left;
        width: 100%;
        .form-group
        {
            float: left;
            width: 100%;
            .select-style
            {
                width: 100%;
                float: left;
                select
                {
                    width: 100% !important;
                    min-height: 45px;
                    border-radius: 20px;
                    background-image: none;
                    background-color: transparent;
                    border: 1px solid #d1d1d1;
                    padding: 10px;
                }
            }
        }
    }
    .select-height
    {
        min-height: 300px;
        margin: 30px -15px 50px;
    }
    
    .select-label
    {
        color: #303030;
        font-size: 20px;
        font-family: 'ArialMT';
        font-weight: normal;
        margin: 0;
        padding: 0 0 10px 0px;
        float: left;
        min-width: 100%;
    }
   
    .check-box
    {
        padding-bottom: 20px;
        label
        {
            color: #a1a1a1;
            font-family: 'ArialMT';
            font-size: 16px;
        }
    }
   
    .float-checkbox{
        width: auto;
        float: left;
        margin: 0 15px 0 0;
        &:last-child
        {
            margin: 0;
        }
    }
    .btn-group.open .dropdown-toggle
    {
        box-shadow: none;
    }
    .multi-select-box{
        label
        {
            padding: 0 0 15px !important;
        }
        .btn-group
        {
            .multiselect
            {
                font-size: 16px;
            }
        }
        
    }
    .select-bx
    {
        position: relative;
        float: left;
        width: 100%;
        .down-caret
        {
            position: absolute;
            font-size: 22px;
            right: 15px;
            top: 12px;
            z-index: 2;
        }
        label
            {
                padding: 0 0 15px !important;
            }
        select
        {
            width: 100%;
            
        }
        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
        {
            background-color: transparent;
            background-image: none;
        }
        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
        {
            background-color: transparent;
        }
        .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus
        {
            background-color: transparent;
        }
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
        {
            width: 100%;
            
        }
        .bootstrap-select .dropdown-toggle:focus
        {
            outline: none;
        }
        .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover
        {
            background-color: transparent;
        }
        .btn-default
        {
            width: 100%;
                min-height: 45px;
                border-radius: 20px;
                background-image: none;
                font-size: 16px;
                color: #333 !important;
                .caret
                {
                    border-left: 7px solid hsla(0, 0%, 0%, 0);
                    border-right: 7px solid hsla(0, 0%, 0%, 0);
                    border-top: 7px dashed;
                    float: right;
                    margin: -3px 0 0;
                    display: none;
                }
        }
        .btn-default:hover
        {
            background-color: transparent;
        }
        .dropdown-menu
        {
            border-radius: 20px;
            margin: 10px 0 0;
            padding: 0;
            box-shadow: none;
            ul
            {
                margin: 0;
                padding: 0;
                li
                {
                    a
                    {
                        font-family: 'ArialMT';
                        font-size: 16px;
                        color: #a1a1a1;
                    }
                    &:first-child
                    {
                        a
                        {
                            border-radius: 20px 20px 0 0;
                        }
                    }
                    &:last-child
                    {
                        a
                        {
                            border-radius: 0px 0px 20px 20px;
                        }
                    }
                }
            }
        }
    }
    .multi-select-box
    {
        width: 100%;
        float: left;
        position: relative;
        .down-caret
        {
            position: absolute;
            font-size: 22px;
            right: 15px;
            top: 12px;
            z-index: 2;
        }
        
            #multiple-checkboxes
            {
                width: 100% !important;
            }
            .btn-group
            {
                width: 100% !important;
                text-align: left;
                
                span{
                    text-align: left;
                    float: left;
                }
                .caret
                {
                    border-left: 7px solid hsla(0, 0%, 0%, 0);
                    border-right: 7px solid hsla(0, 0%, 0%, 0);
                    border-top: 7px dashed;
                    float: right;
                    margin: 7px 0 0;
                    display: none;
                }
            }
            
            .btn-group-vertical > .btn, .btn-group > .btn
            {
                width: 100%;
                min-height: 45px;
                border-radius: 20px;
                background-image: none;
                background-color: transparent;
                
            }
            .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
            {
                background-color: transparent !important;
                background-image: none !important;
            }
            .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
            {
                background-color: transparent;
                background-image: none;
            }
            .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
            {
                background-color: transparent;
            }
            .multiselect-container
            {
                
                box-shadow: none;
                
                li
                {
                    a
                    {
                        font-family: 'ArialMT';
                        font-size: 16px;
                        color: #a1a1a1;
                        padding: 5px 5px 5px 10px;
                        label
                        {
                            padding: 0 !important;
                        }
                    }
                    &:first-child
                    {
                        a
                        {
                            border-radius: 20px 20px 0 0;
                        }
                    }
                    &:last-child
                    {
                        a
                        {
                            border-radius: 0px 0px 20px 20px;
                        }
                    }
                }
            }
            .multiselect-container > li > a > label
            {
                padding: 6px 10px;
            }
            .multiselect-container
            {
                width: 100%;
                margin: 10px 0 0;
                border-radius: 20px;
            }
            .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]
            {
                right: 15px;
            }
    }
    .edit-botton
    {
        margin: 150px 0 100px;
        float: right;
        a
        {
            width: 275px;
            float: left;
            line-height: 28px;
            padding: 10px 10px 10px 65px;
            &:first-child
            {
                margin: 0 25px 0 0px;
                padding: 10px 10px 10px 65px;
            }
        }
    }
}


/**************************************************************************** Media query resposive*/

@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
    .main-profle-body
    {
        .top-section
        {
            margin: 10px 0 0 !important;
            .title-box
            {
                padding: 70px 0 20px;
            }
        }
    }
    .build-cv
    {
        margin-bottom: 50px !important;
        .cv-photo
        {
            width: 100%;   
        }
        .min-height-sm
        {
            min-height: 270px;
        }
    }
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
    .main-profle-body
    {
        .top-section
        {
            margin: 0 !important;
            padding: 65px 0 0 !important;
            .title-box
            {
                 padding: 20px 0 0;
            }
        }
        .extrap-pad
        {
             padding: 0 15px 100px;
        }
    }
    
    .build-cv
    {
        .select-height
        {
            margin: 15px -15px 15px;
            min-height: auto;
        }
        .form-group
        {
            margin: 10px 0;
        }
        .top-margin
        {
            margin: 20px -15px;
        }
        .xs-padding
        {
            padding: 0 0 15px;
        }
        .select-bx
        {
            padding: 0 0 15px;
            label
            {
                padding: 0 0 5px !important;
                font-size: 16px;
            }
        }
        
        .select-label
        {
            font-size: 16px;
        }
        .multi-select-box
        {
            label
            {
                padding: 0 0 5px !important;
            }
        }
        .edit-botton
        {
            float: left;
            text-align: center;
            width: 100%;
            margin: 40px 0 40px;
            a
            {
                display: inline-block;
                float: none;
                line-height: 18px;
            }
        }
        .pupup-button
        {
            .poup-span
            {
                font-size: 16px;
            }
        }
        .form-group
        {
            input
            {
                font-size: 16px;        
            }
        }
    }
    
    
}
@media screen and (max-width:640px)
{
    
}
@media screen and (max-width:600px)
{
    .build-cv
    {
        .edit-botton
        {
            a
            {
                width: 285px;
                &:first-child
                {
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}
@media screen and (max-width:480px)
{
    .build-cv
    {
        .title-box
        {
            padding: 0;
            .cv-photo
            {
                .img-box
                {
                    margin-bottom: 15px;
                    .profile-img
                    {
                        height: 130px;
                        width: 130px;
                    }
                }
            }
        }
        .select-bx
        {
            label
            {
                font-size: 14px;   
            }
            .btn-default
            {
                font-size: 14px;
                min-height: 40px;
            }
            .down-caret
            {
                top: 8px;
            }
        }
        .select-label
        {
            font-size: 14px;
        }
        .multi-select-box
        {
            .btn-group
            {
                .multiselect
                {
                    font-size: 14px;
                }
            }
        }
        .check-box
        {
            padding-bottom: 10px;
            label
            {
                font-size: 14px; 
            }
        }
        .pupup-button
        {
            .poup-span
            {
                font-size: 14px;
            }
        }
        .form-group
        {
            input
            {
                font-size: 14px;
                height: 40px;
            }
        }
    }
}
@media screen and (max-width:414px)
{
    .main-profle-body
    {
        .extrap-pad
        {
            padding: 0 15px 50px !important;
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}