.main-profle-body
{
    width: 100%;
    float: left;
    .top-section
    {
        margin: 25px 0 0 !important;
         padding: 74px 0 0 !important;
         .title-box
        {
            padding: 70px 0 45px;
        }
    }
    .extrap-pad
    {
        padding: 0 15px 220px;
    }
}
.candidate-profile
{
    padding: 95px 0 200px;
    .cv-profile-bx
    {
        
        .inner-profile
        {
            width: 100%;
            float: left;
            .p-text
            {
                color: #a1a1a1;
                font-size: 18px;
                float: left;
                padding: 15px 0;
                text-align: center;
                min-width: 100%;
                font-family: 'ArialMT';
            }
            .btn-box
            {
                width: 100%;
                float: left;
                text-align: center;
                button
                {
                    border: none;
                    width: 80%;
                }
            }
            .text-bx
            {
                padding: 20px 0 0;
                label
                {
                    color: #303030;
                    font-size: 18px;
                    min-width: 100%;
                    text-align: center;
                    font-weight: 500;
                    padding: 30px 0 0;
                    font-family: 'ArialMT';
                }
            }
        }
    
    }
    .cv-text-bx
    {
        margin: 15px 0 0;
    }
    .red-border
    {
        border: 2px dotted #FA6A63 !important;
        h3
        {
            color: #FA6A63;
        }
    }
    .green-border
    {
        border: 2px dotted #00ABA4 !important;
        h3
        {
            color: #00ABA4;
        }
    }
    .candidate-list
    {
        &:first-child
        {
           margin: 20px auto 0;
        }
        img
        {
            margin: 0 15px 0;
        }
    }
    .resume-tag
    {
        width: 90%;
        margin: 40px auto 0;
       
        .img-bx
        {
            border: 2px solid #d1d1d1;
            text-align: center;
            padding: 20px;
            min-height: 130px;
            border-radius: 20px;
            img
            {
                width: 80px;
                margin: 10px auto 0;
            }
        }
        label
        {
            font-weight: 500;
            font-size: 18px;
            color: #303030;
            display: inline-block;
            padding: 10px 0 0;
            min-width: 100%;
            text-align: center;
            font-family: 'ArialMT';
            margin: 0;
        }
    }
    
    .profile-infor-ttl
    {
        padding: 20px 0 5px;   
    }
}
.pupup-button
    {
        width: 100%;
        float: left;
        
        img
        {
            float: left;
        }
        .poup-span
        {
            float: left;
            min-width: auto;
            color: #303030;
            font-size: 20px;
            padding: 0 0 0 10px;
            font-family: 'ArialMT';
            &:hover
            {
                cursor: pointer;
            }
        }
    }
.profile-popup
{
    .modal-dialog
    {
        width: 750px;
    }
    .modal-header
    {
       border-radius: 5px 5px 0 0; 
    }
    .modal-body
    {
        
        .star-rate
        {
            position: inherit;
            text-align: center;
            .rating
            {
                margin: 5px 0 0 18%;
            }
        }
        .pupup-button
        {
            padding-bottom: 100px;
        }
    }
    .modal-footer
    {
        border: none;
        padding-bottom: 30px;
    }
    .btn-profile
    {
        width: 200px;
        float: right;
        line-height: 35px;
        &:first-child
        {
            margin:  0 0 0 20px;
        }
    }
    .modal-title
    {
        span
        {
            float: left;
            margin: 0 15px 0 0;
        }
        h3
        {
            text-transform: uppercase;
            float: left;
            padding: 8px 0 0 0;
            font-weight: 600;
            font-size: 25px;
            font-family: 'ArialMT';
            color: #FFF;
        }
    }
    .btn-line
    {
        width: 100%;
        float: left;
        margin: -1px 0 0 0;
        img
        {
            width: 100%;
            float: left;
        }
    }
    .select-bx
    {
        padding: 0 0 25px;
        float: left;
        width: 45%;
    }
    .select-label
    {
        color: #303030;
        font-size: 20px;
        font-family: 'ArialMT';
        font-weight: 500;
        margin: 0;
        padding: 0 0 5px;
        float: left;
        min-width: 100%;
    }
    .form-group
    {
        margin-bottom: 20px;
        input
        {
            height: 45px;
            border-radius: 20px;
        }
        textarea
        {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 220px;
            height: 220px;
            background-color: #FFF;
            border: 1px solid #d1d1d1;
            border-radius: 20px;
            padding: 15px;
        }
        label
        {
            color: #303030;
            font-size: 20px;
            font-family: 'ArialMT';
            font-weight: 500;
            margin: 0;
            padding: 0 0 5px;
        }
        
        .select-style
        {
            
            float: left;
            select
            {
                width: 150px !important;
                float: left;
                
            }
            .btn-default
            {
                background-image: none;
                border-radius: 20px;
                &:hover
                {
                    background-color: transparent;
                }
            }
            .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            {
                width: 150px;
                float: left;
                &:last-child
                {
                    margin:  0 0px 0 15px;
                }
            }
            .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default
            {
                background-color: transparent;
            }
            .btn-default:hover, .btn-default:focus
            {
                background-color: transparent;
            }
            label
            {
                min-width: 100%;
                float: left;
                font-weight: 500;
                font-family: 'ArialMT';
                font-size: 20px;
            }
        }
    }
    
    .space-bx
    {
        width: 10%;
        float: left;
        span
        {
            min-width: 100%;
            text-align: center;
            float: left;
            padding: 0px 0 0 0;
            font-family: 'ArialMT';
                font-size: 20px;
        }
    }
    
}
