
.cv-box
{
    width: 100%;
    float: left;
    .title-box
    {
        padding: 70px 0 45px;
    }
    .cv-profile-bx
    {
        width: 100%;
        float: left;
        position: relative;
        .inner-profile
        {
            width: 80%;
            float: left;
            
            .text-bx
            {
                width: 100%;
                float: left;
                padding: 40px 0 0;
                h3
                {
                    margin: 10px 0 5px;
                    padding: 0;
                    font-size: 29px;
                    color: #303030;
                    font-family: 'ArialMT';
                    text-align: center;  
                }
                p
                {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                }
            }
            
        }
        .cv-icon-bx
        {
            width: 105px;
            bottom: 0;
            right: 15px;
            position: absolute;
            text-align: center;
            .icon-bx
            {
                text-align: center;
                a
                {
                    display: inline-block;
                    margin:  0 3px;
                    position: relative;
                    .tooltip-bx1
                    {
                        background-color: #00ABA4;
                        color: #FFF;
                        font-size: 16px;
                        position: absolute;
                        left: -75px;
                        top: -60px;
                        padding: 6px 6px;
                        border-radius: 10px;
                        display: none;
                        width: 200px;
                        text-align: center;
                        i
                        {
                            position: relative;
                            bottom: -29px;
                            font-size: 40px;
                            color: #00ABA4;
                            line-height: 14px;
                            right: 80px;
                        }
                    }
                    .tooltip-bx2
                    {
                        background-color: #E4B853;
                        color: #FFF;
                        min-width: 295px;
                        font-size: 16px;
                        position: absolute;
                        border-radius: 10px;
                        padding: 6px 6px;
                        right: -15px;
                        display: none;
                        bottom: -60px;
                        i
                        {
                            position: relative;
                            top: -20px;
                            font-size: 40px;
                            color: #E4B853;
                            line-height: 14px;
                            right: 12px;
                        }
                    }
                }
                .green-tooltip
                {
                    &:hover
                    {
                        .tooltip-bx1
                        {
                            display: block;
                        }
                    }
                }
                .yellow-tooltip
                {
                    &:hover
                    {
                        .tooltip-bx2
                        {
                            display: block;
                        }
                    }
                }
                
                .green-tooltip + .tooltip > .tooltip-inner
                {
                    
                    color: #FFF;
                    padding: 5px 10px;
                    font-size: 16px;
                    min-width: 175px;
                    margin-bottom: 10px;
                }
                .green-tooltip + .tooltip > .tooltip-arrow
                {
                    margin-bottom: 10px;
                    border-top-color: #00ABA4;
                }
                .yellow-tooltip + .tooltip > .tooltip-inner
                {
                    background-color: #E4B853;
                    color: #FFF;
                    min-width: 265px;
                    font-size: 16px;
                    margin: 0 100px 0 0;
                }
                .yellow-tooltip
                {
                    right: 0
                }
                .yellow-tooltip + .tooltip > .tooltip-arrow
                {
                    border-bottom-color: #E4B853;
                }
                 
            }
        }
        
    }
    .cv-text-bx
    {
        margin: 70px 0 0; 
        width: 100%;
        float: left;
        padding: 30px;
        p
        {
            color: #4c4c4c;
            margin: 0;
            padding: 0 0 15px;
            font-size: 18px;
            font-family: 'ArialMT';
            &:last-child
            {
                padding: 0;
            }
        }
    }
}
.candidate-list
{
    border: 2px dotted #FA6A63;
    padding: 20px;
    width: 90%;
    margin: 0 auto 20px;
    border-radius: 20px;
    
        
    h3
   {
       margin: -40px 0 0 0px;
       padding: 0;
       color: #FA6A63;
       font-family: 'ArialMT';
       font-size: 25px;
       display: inline-block;
   }
   img
   {
       margin: 0 30px 0 50px;
       display: inline-block;
       -webkit-transition: -webkit-transform .8s ease-in-out;
        -ms-transition: -ms-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
   }
   &:hover
   {
     img
     {
        transform:rotate(360deg);
            -ms-transform:rotate(360deg);
            -webkit-transform:rotate(360deg);
     }
   }
    
}
 .profile-infor-ttl
{
    color: #FA6A63;
    font-family: 'ArialMT';
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 5px;;
    padding: 0;
    float: left;
    min-width: 100%;
}
.profile-info-bx
{
    padding: 15px;
    width: 100%;
    float: left;
    margin: 0 0 15px;
    p
    {
        color: #4c4c4c;
        font-size: 18px;
        font-family: 'ArialMT';
        margin: 0;
        padding: 0;
        min-width: 100%;
        float: left;
            label
            {
                min-width: 100%;
                float: left;
                font-weight: 500;
            }
    }
    ul
    {
        margin: 0;
        padding: 0 0 90px 15px;
        float: left;
        li
        {
            color: #4c4c4c;
            font-size: 18px;
            font-family: 'ArialMT';
            float: left;
            min-width: 100%;
            
        }
    }
    .text-box
    {
        position: relative;
        width: 100%;
        padding: 0 35% 0 0;
        float: left;
        .extrap-top
        {
            top: 35% !important;
        }
        
        span
        {
            margin: 0 !important;
            padding: 0;
            color: #4c4c4c;
            font-size: 18px;
            font-family: 'ArialMT';
            min-width: 100%;
            float: left;
        }
        
    }
}