
.cvs-prioritys{
    .information-seen-by-candidates
    {
        color: #303030; 
        font-size: 20px;
        margin-bottom: 35px;
    }

    .select-box-bottom-space
    {
        min-height: 280px;
    }
    .select-box-bottom-space-bth
    {
        min-height: 350px;
    }
    .work-places
    {
        margin-left: 17px;
    }
    .profile-content{
        float: left;  
        margin-top: 100px;                
        position: relative;
        width: 100%;
    }
    .border-bx{
        float: left;
    }

    .change-password-section{
        margin-top: 50px;
        .candidate-info
        {
            margin-top: 15px;
        }
        .profile-img-candidate
        {
            margin: 0 auto;
        }
    }

    .edit-profile-bx{        

        float: left;
        position: relative;
        width: 100%;
        .profile-pic-content
        {
            float: right;
        }
        .image-right-left-content
        {
            margin-bottom: 90px;
        }
        .profile-pic-re
        {
            margin: 0 auto;
        }
        .profile-pic-text
        {
            margin-top: 7px;
            text-align: center;
            color: #000000; 
            font-size: 18px;
        }
        .application-btn-bg
        {
            background-color: #00ABA4 !important;
        }
        .application-btn-span-bg
        {
            background-color: #008C85 !important;
        }
        .change-password{
            color: hsl(249, 9%, 41%);
            font-size: 29px;
            font-weight: bold;
            letter-spacing: 6px;
            padding-left: 18px;
            word-spacing: 20px;            
        }
        .red-label {
            float: left;
            font-family: "ArialMT";
            font-size: 23px;
            min-width: 100%;
            padding-bottom: 15px;
        }
        .inpot-bx {
            float: left;
            padding: 0 0 20px;
            width: 100%;
            .edit-profile-btn {
                float: right;
                padding: 10px 0 0;
                width: auto;
                a {
                    line-height: 28px;
                    padding: 10px 15px 10px 70px;
                    width: auto;
                }
            }
        }
        .bg-img 
        {
            position: absolute;
            right: 5%;            
            width: 250px;
        }
    }

}


/*======================================================== Responsive Media */
@media screen and (max-width:1280px)
{

}
@media screen and (max-width:1200px)
{      

}
@media screen and (max-width:1024px)
{

}
@media screen and (max-width:991px)
{

}
@media screen and (max-width:800px)
{
    .cvs-prioritys
    {
        .left-img-right-content
        {
            margin-bottom: 20px;
        }
        .multi-select-box
        {
            padding-bottom: 15px;
        }
        .select-box-bottom-space {
            min-height: 60px;
        }
        .select-box-bottom-space-bth {
            min-height: 60px;
        }
        .edit-profile-bx
        {
            .bg-img {
                margin: 0 auto;
                position: initial;
                right: 5%;
                width: 250px;
            }
            .inpot-bx{
                .edit-profile-btn
                {
                    a {
                        line-height: 28px;
                        padding: 5px 15px 10px 70px;
                        width: auto;
                    }   
                }   
            }
        }
    } 

}
@media screen and (max-width:767px)
{
    .cvs-prioritys
    {
        .edit-profile-bx {
            .inpot-bx {
                .edit-profile-btn {
                    float: none;
                    margin: 0 auto;
                    padding: 10px 0 0;
                    width: 275px;
                }
            }
        }
    }
}
@media screen and (max-width:640px)
{

}
@media screen and (max-width:600px)
{

}
@media screen and (max-width:480px)
{

}
@media screen and (max-width:414px)
{

}

@media screen and (max-width:360px)
{

}
@media screen and (max-width:320px)
{

}
