.edit-profile
{
    .title-box
    {
        label
        {
            text-transform: lowercase;   
        }
    }
    .edit-profile-bx
    {
        width: 100%;
        float: left;
        position: relative;
        &:last-child
        {
            padding-bottom: 120px;
        }
        .bg-img
        {
            position: absolute;
            right: 5%;
            top: 8%;
            width: 250px;
        }
        .red-label
        {
            min-width: 100%;
            float: left;
            font-size: 23px;
            padding-bottom: 15px;
            font-family: 'ArialMT';
        }
        .select-label
        {
            padding: 0 0 5px 0px;
        }
        .inpot-bx
        {
            padding: 0 0 40px;
            float: left;
            width: 100%;
            .edit-profile-btn
            {
                width: auto;
                float: left;
                padding: 60px 0 0;
                a
                {
                    width: auto;
                    padding: 10px 15px 10px 70px;
                    line-height: 28px;
                }
            }
            .input-margin
            {
                margin: 0 0 10px;
            }
        }
        
    }
    .border-bx
    {
        width: 100%;
        float: left;
        padding: 25px 0 25px;
        .border-line
        {
            width: 40%;
            margin:0 auto;
            height: 1px;
            background-color: #d1d1d1;
        
        }
    }
}




/**************************************************************************** Media query resposive*/

@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{
    
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
    
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
    .edit-profile
    {
        .red-label
        {
            font-size: 20px;
        }
        .edit-profile-bx
        {
            &:last-child
            {
                padding-bottom: 50px;
            }
            .inpot-bx
            {
                .edit-profile-btn
                {
                    padding: 0;
                    a
                    {
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:640px)
{
    
}
@media screen and (max-width:600px)
{
    
}
@media screen and (max-width:480px)
{
    
}
@media screen and (max-width:414px)
{
    .edit-profile
    {
        .edit-profile-bx
        {
            &:last-child
            {
                padding-bottom: 30px;
            }
            .red-label
            {
                font-size: 17px;
            }
            .inpot-bx
            {
                padding: 0 0 15px;
                .edit-profile-btn
                {
                    padding: 0;
                    a
                    {
                       font-size: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}