.free-item-bx
{
    .title-box
    {
        margin: 0px 0 70px;
        p
        {
            font-family: 'ArialRoundedMTBold';
            font-size: 30px;
            margin: -45px 0 0;
        }
    }
    .item-details
    {
        width: 100%;
        float: left;
        .fb-img-bx
        {
            padding: 60px 0 0;
        }
        .form-group
        {
            margin-bottom: 5px;
        }
        p
        {
             padding: 0;
            margin: 0px 0 0px;
            font-size: 20px;
            font-family: 'ArialMT';
            color: #303030;
        }
        .item-btn-bx
        {
            min-width: 100%;
            float: left;
            padding: 40px 0;
            &:last-child
            {
                padding: 0px 0 70px;    
            }
            p
            {
                padding: 0;
                margin: 0px 0 15px;
                font-size: 18px;
                font-family: 'ArialMT';
                font-weight: 600;
                text-align: center;
                color: #303030;
            }
            .btn-bx
            {
                width: 265px;
                margin:  0 auto;
                a
                {
                    padding: 10px 15px 10px 60px;
                }
            }
        }
        h4
        {
            color: #303030;
            font-size: 25px;
            margin: 0;
            padding: 0;
            font-weight: 600;
        }
        .range-slider
        {
            width: 100%;
            float: left;
            .title-p
            {
                padding-bottom: 40px;
            }
            p
            {
                font-weight: 600;
            }
            
            .slider-bx
            {
                width: 82%;
                float: left;
                padding: 10px 0;
                margin: 0 2% 0 0;
                p
                {
                    padding: 0 0 15px !important;
                }
                #ex1Slider .slider-selection {
                    background: #FB6961;
                }
                .slider.slider-horizontal
                {
                    width: 100%;
                    float: left;
                    margin: 0 0px 0 0
                }
                .slider-handle
                {
                    background: #FB6961;
                    border-radius: 15px;
                    width: 20px;
                    height: 30px;
                }
                .slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle
                {
                    margin: -8px 0 0 -10px;
                    &:hover
                    {
                        cursor: pointer;
                    }
                }
                .slider.slider-horizontal .slider-track
                {
                    height: 4px;
                    &:hover
                    {
                        cursor: pointer;
                    }
                }
                
            }
            .main-value-bx
                {
                    margin: 20px 0 0;
                    float: left;
                    width: 16%;
                    .title-label
                    {
                        padding: 0;
                        margin: 0px 0 0px;
                        font-size: 20px;
                        font-family: 'ArialMT';
                        color: #303030;
                        min-width: 100%;
                        text-align: center;
                    }
                    .value-bx
                    {
                        border: 2px solid #d1d1d1;
                        width: 180px;
                        min-height: 80px;
                        text-align: center;
                        font-size: 20px;
                        border-radius: 15px;
                        font-family: 'ArialMT';
                        padding: 25px 20px;
                    }
                    .amount-bx{
                        color: #303030;
                        font-size: 25px;
                        font-family: 'ArialMT';
                        padding: 10px 0;
                        text-align: center;
                        min-width: 100%;
                    }
                }
        }
        .select-company
        {
            width: 100%;
            float: left;
            p
            {
                font-weight: 600;
            }
            ul
            {
                width: 100%;
                float: left;
                margin: 60px 0 0;
                padding: 0;
                list-style: none;
                text-align: center;
                li
                {
                    display: inline-block;
                    width: auto;
                    margin: 0 15px 30px;
                    .company-img
                    {
                        border: 2px solid #d1d1d1;
                        border-radius: 10px;
                        text-align: center;
                        width: 195px;
                        height: 150px;
                        padding: 10px;
                        vertical-align: middle;
                        img
                        {
                            margin: 0 auto;
                        }
                    }
                    .select-bx
                    {
                        width: 100%;
                        float: left;
                        padding: 15px 0 0;
                        .check-box
                        {
                            padding: 0;
                        }
                    }
                }
            }
        }
        
    }
}

/**************************************************************************** Media query resposive*/

@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{
    
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
    .free-item-bx
    {
        .title-box
        {
            p
            {
                font-size: 22px;   
            }
        }
        .item-details
        {
            .item-btn-bx
            {
                p
                {
                    font-size: 16px;   
                }
            }
            h4
            {
                font-size: 20px;
            }
            p
            {
                font-size: 17px;
            }
            .range-slider
            {
                .slider-bx
                {
                    width: 73%;
                }
                .main-value-bx
                {
                    width: 25%;
                }
            }
        }
    }
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
    .free-item-bx
    {
        .title-box
        {
            margin: 0 0 40px;
        }
        .item-details
        {
            .fb-img-bx
            {
                padding: 0 0 15px;
                img
                {
                    margin: 0 auto;
                    width: 150px;
                }
            }
            .item-btn-bx
            {
                padding: 25px 0 40px;
                .btn-bx
                {
                    width: 220px;
                    a
                    {
                        padding: 6px 15px 10px 60px;   
                    }
                }
            }
            .range-slider
            {
                .title-p
                {
                    padding-bottom: 15px;
                }
                .slider-bx
                {
                    width: 100%;
                    margin: 0 0 2%;
                }
                .main-value-bx
                {
                    width: 100%;
                    margin: 0;
                    .value-bx
                    {
                        width: 90px;
                        margin: 0 auto;
                        min-height: 62px;
                        padding: 15px;
                    }
                    .title-label
                    {
                        font-size: 17px;
                    }
                    .amount-bx
                    {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:640px)
{
    
}
@media screen and (max-width:600px)
{
    .free-item-bx
    {
        .item-details
        {
            .select-company
            {
                ul
                {
                    li
                    {
                        .company-img
                        {
                            width: 150px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:480px)
{
    .free-item-bx
    {
        .title-box
        {
            p
            {
                font-size: 16px;
            }
        }
        .item-details
        {
            h4
            {
                font-size: 18px;   
            }
            .item-btn-bx
            {
                p
                {
                    font-size: 14px;   
                }
            }
            .range-slider 
            {
                .title-p
                {
                    padding-bottom: 5px;
                    font-size: 14px;
                }
                .main-value-bx
                {
                    .value-bx
                    {
                        font-size: 16px;
                        min-height: 55px;
                    }
                    .amount-bx
                    {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:414px)
{
    .free-item-bx
    {
        .title-box
        {
            p
            {
                font-size: 14px;   
            }
        }
        .item-details
        {
           h4
           {
                font-size: 16px;
           }
           p
           {
            font-size: 13px;
           }
            .select-company
            {
                p
                {
                    font-size: 13px;
                }
                ul
                {
                    li
                    {
                        margin: 0 10px 20px;
                        .company-img
                        {
                            height: 80px;
                            width: 100px;
                        }
                        .select-bx
                        {
                            .check-box 
                            {
                                .checkbox-custom, .check-box .checkbox-custom-label, .check-box .radio-custom, .check-box .radio-custom-label
                                {
                                    margin: 5px 5px 5px 10px;
                                }
                            }
                        }
                    }
                }
            }
            .range-slider
            {
                p
                {
                    font-size: 14px;   
                }
            }
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}