body
{
    margin: 0;
    padding: 0;
    background-color: #FFF;
    
}
header
{
    width: 100%;
    float: left;
    .navbar
    {
        border-radius: 0;
        margin: 0;
        border-bottom: 1px solid transparent;
        height: 100px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        .navbar-nav
        {
            background-color: #FFF;
            margin-right: 10px;
            li
            {
                .thumbnail
                {
                    img
                    {
                        margin-bottom: 5px;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        width: 45px
                    }
                }
                
            }
            .dropdown-menu
            {
                top: 100px;
                -webkit-transition: all 0.9s ease;
                        transition: all 0.9s ease;
                        li
                        {
                            padding: 3px 0;
                            a
                            {
                                padding: 5px 20px;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-family: 'ProximaNova-Bold';
                            }
                        }
            }
            
        }
        .language
        {
            position:relative;
            float: right;
            width: 75px;
            .dropdown-menu > li > a
            {
                color: #444;
                text-transform: uppercase;
            }
            .arrow
            {
                position: absolute;
                right: 20px;
                top: 10px;
                z-index: 2;
                line-height: 5px;
            }
            .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            {
                width: 70px;
            }
            .btn-default
            {
                background-image: none;
                border: none;
                box-shadow: none;
            }
            .btn-default:hover, .btn-default:focus
            {
                background-color: transparent;
                //background-position: 0 0;
            }
            .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default
            {
                background-color: transparent;
            }
            .bootstrap-select.btn-group .dropdown-toggle .caret {
                display: none;
            }
        }
    }
    .navbar-inverse
    {
        background-image: none;
        background-color: #FFF;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
    {
        margin: 0;
        padding: 10px 0;
    }
    .navbar-brand
    {
        float: left;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 240px;
        img
        {
            width: 100%;
        }
    }
    
    .nav > li
    {
        padding: 10px 15px 0;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > .thumbnail
    {
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    
    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a
    {
        text-shadow: none;
        font-family: 'Ubuntu-R';
        text-transform: uppercase;
    }
    .navbar-inverse .navbar-nav > li > a
    {
        color: #000;
        font-size: 14px;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a
    {
        background-image:none;
        box-shadow: none;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
    {
        background-color: #FFF;
        color: #000;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
    {
        color: #000;
        //color: #00B2AA;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
    {
         color: #000;
         //color: #00B2AA;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover
    {
        background-color: transparent;
        color: #000;
    }
    .dropdown-menu > li > a
    {
        color: #FFF;
        font-size: 14px;
    }
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
    {
        background-color: #00B2AA;
        background-image: none;
        color: #FFF;
    }
    .navbar-nav > li > .dropdown-menu
    {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    .animate-nav
    {
        height: 70px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-bottom: 1px solid #d1d1d1;
            .navbar-header
            {
                .navbar-brand
                {
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    width: 155px;
                    img
                    {
                        
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                    }
                }
            }
            
        .navbar-nav
        {
            li
            {
                .thumbnail
                {
                    img
                    {
                        width: 25px;
                        -webkit-transition: all 0.9s ease;
                        transition: all 0.9s ease;
                    }
                    
                }
            }
            .dropdown-menu
            {
                top: 69px;
                -webkit-transition: all 0.9s ease;
                        transition: all 0.9s ease;
            }
        }
    }
    .camdidate-navbar
    {
        .nav
        {
            li
            {
                padding: 10px 100px 0 0;
                a
                {
                    .down-caret
                    {
                        font-size: 24px;
                        line-height: 14px;
                        margin: 0 0 0 8px;
                    }
                }
                &:last-child
                {
                    padding: 10px 0px 0 0;
                }
                .dropdown-menu
                {
                    padding: 0;
                    li
                    {
                        padding: 0;
                        a
                        {
                            padding: 8px 20px;
                            
                            
                        }
                        &:first-child
                            {
                                a
                                {
                                    border-radius: 4px 4px 0 0;
                                }
                            }
                        &:last-child
                        {
                            a
                            {
                                border-radius: 0px 0px 4px 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hm-banner
{
    width: 100%;
    float: left;
    background: url("../images/homepage_main_image.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    padding: 70px 0 20px;
    .banner-title
    {
        text-align: center;
        padding-bottom: 395px;
        h1
        {
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            color: #B2B2B2;
            padding: 0 10px 0 20px;
            border-left: 3px solid #FA6A63;
            font-family: 'ProximaNova-Bold';
            display: inline-block;
            line-height: 42px;
            font-size: 50px;
        }
        .left-sm-line
        {
            width: 2px;
            height: 100%;
            display: inline-block;
        }
    }
    .hm-banner-search-bx
    {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        float: left;
        padding: 15px;
        border-radius: 15px;
        .hm-search-input
        {
            border-radius: 0px;
            font-size: 14px;
        }
        .hm-banner-search-btn
        {
            width: 100%;
            border-radius: 20px;
            font-family: 'ArialMT';
            font-weight: 600;
            font-size: 18px;
        }
    }
}
.hm-scroll-down-bx
{
    width: 100%;
    background-color: #FFF;
    float: left;
    padding: 20px 0 40px;
    .thumbnail
    {
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
    .mause-img-bx
    {
        width: 180px;
        margin: 0 auto;
        position: relative;
        .center-bdr
        {
            position: relative;
            width: 100%;
            height: 2px;
            top: 23px;
            z-index: 1;
        }
        img
        {
            background-color: #FFF;
            padding: 0px 15px;
            position: relative;
            z-index: 11;
        }
    }
}
.hm-about-text
{
    width: 100%;
    float: left;
    padding: 50px 0;
    .text-bx
    {
        width: 100%;
        float: left;
        .img-bx
        {
            margin: 0 auto;
            text-align: center;
            width: 185px;
            
            .left-box
            {
                display: inline-block;
                font-size: 80px;
                font-weight: 600;
                line-height: 80px;
                color: #E2E7EA;
                float: left;
                padding:  0 5px 0 0;
                font-family: 'Fonarto';
            }
            .right-box
            {
                float: left;
                display: inline-block;
                img
                {
                    -webkit-transition: -webkit-transform .8s ease-in-out;
                    -ms-transition: -ms-transform .8s ease-in-out;
                    transition: transform .8s ease-in-out;
                }
            }
        }
        .info-text
        {
            width: 100%;
            float: left;
            margin: 50px 0 0;
            text-align: center;
            h5
            {
                font-weight: 600;
                font-family: 'Ubuntu-R';
                color: #3a3a45;
                font-size: 24px;
            }
            p
            {
                font-family: 'Ubuntu-R';
                color: #3a3a45;
                font-size: 16px;
            }
        }
        &:hover .right-box img
        {
            transform:rotate(360deg);
            -ms-transform:rotate(360deg);
            -webkit-transform:rotate(360deg);
        }
    }
}
.gradient-button-bx
{
    width: 100%;
    float: left;
    text-align: center;
    margin: 25px 0 0;
    
        .grdnt-brn
        {
          padding: 8px 25px;
          border: 2px solid transparent;
          border-radius: 20px;
          text-align: center;
          width: 285px;
           background: url("../images/btn_border.png") no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover; 
            -o-background-size: cover;
            background-size: cover;
           //background: -moz-linear-gradient(45deg, #00CAC1, #FA6A61);
           // background: -webkit-linear-gradient(45deg, #00CAC1, #FA6A61);
           // -moz-background-origin: border;
           // background-origin: border-box;
           // border: 2px solid transparent;
           // border-radius: 20px;
           // box-shadow:
           //   inset 0 0 12px transparent, 
           //   0 0 12px transparent, 
           //   inset -999px 0 0 #fff;
           
           //border-left-color:  #00CAC1;
           //border-right-color: #FA6A61;
           //border-top-color: #00CAC1, #FA6A61;
              span
              {
                float: left;
                margin: 0 15px 0 0;
                -webkit-transition: -webkit-transform .3s ease-in-out;
                    -ms-transition: -ms-transform .3s ease-in-out;
                    transition: transform .3s ease-in-out;
              }
              &:hover
              {
                color: #31C9C1;
              }
              &:hover span
              {
                transform:rotate(45deg);
                -ms-transform:rotate(45deg);
                -webkit-transform:rotate(45deg);
                
              }
        }
}
.hm-info-banner
{
   width: 100%;
   float: left;
   margin-bottom: 10px;
   //background: url("../images/bg.png") no-repeat center center; 
   // -webkit-background-size: cover;
   // -moz-background-size: cover; 
   // -o-background-size: cover;
   // background-size: cover;
   // min-height: 400px;
    position: relative;
    .info-text
    {
        position: relative;
        width: 100%;
        float: left;
        
        .hm-info-header
        {
            width: 100%;
            float: left;
            position: relative;
            .number-bx
            {
                width: 70px;
                height: 70px;
                border: 1px solid #FFF;
                font-size: 34px;
                font-family: 'Ubuntu-Bold';
                border-radius: 50%;
                text-align: center;
                box-shadow: 0 0 2px #FFF;
                padding: 8px 0 0;
                color: #FFF;
                float: left;
                margin: 0 15px 0 0;
            }
            h3
            {
                font-family: 'Ubuntu-Bold';
                color: #FFF;
                font-size: 22px;
                padding: 20px 0 0;
                float: left;
                text-transform: uppercase;
            }
        }
        .left-text
        {
            width: auto;
            float: left;
            h3
            {
                font-family: 'Ubuntu-Bold';
                color: #FFF;
                padding: 15px 0 0;
                float: left;
            }
            ul
            {
                width: 100%;
                float: left;
                margin: 10px 0 0;
                padding: 0 0 0 10px;
                content: " - ";
                list-style: " - ";
                li
                {
                    color: #FFF;
                    font-family: 'Ubuntu-R';
                    font-size: 18px;
                    padding: 10px 0 0;
                }
            }    
        }
        .right-img
        {
            width: 50%;
            float: left;
            position: relative;
            .img-bx
            {
                position: absolute;
                right: -25px;
                top: -43px;
                width: 145%;
                img
                {
                    width: 100%;
                }
            }
        }
        
    }
    .left-info
    {
        background-color: #00AAA6;
        padding: 15px;
    }
    .right-info
    {
        padding:  15px;
        background-color: #F1F1EF;
        .left-text
        {
            h3
            {
                color: #36647c !important;
            }
            ul
            {
                li
                {
                    color: #36647c !important;
                }
            }
        }
        .right-img
        {
            .img-bx
            {
                right: -45px;   
            }
        }
    }
}
.hm-slider-content
{
    width: 100%;
    float: left;
    background: url("../images/center_banner_image.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    padding: 45px 0 20px;
    .carousel-inner
    {
        min-height: 240px;
    }
    .quote
    {
        color: #FFF;
        text-align: left;
        font-size: 40px;
        line-height: 14px;
        margin-bottom: 0px;
    }
    .item
    {
        .img-box
        {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto 20px;
            border: 1px solid #d1d1d1;
            float: none;
        }
        .text-bx
        {
            text-align: center;
            color: #FFF;
            min-width: 100%;
            float: left;
            p
            {
                padding: 0 15px;
                font-family: Arial;
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
    .carousel-indicators
    {
        bottom: -30px;
        li
        {
            background-color: #FFF !important;
            border: none;
            margin: 0 5px;
        }
        
        .active
        {
            background-color: #FB6961 !important;
            
        }
    }
    .slider-blockquote
    {
        width: 100%;
        float: left;
        blockquote
        {
            border-left: 15px solid #FFF;
            font-size: 20px;
            margin: 60px auto 0px;
            padding: 0px 20px;
            color: #FFF;
            line-height: 24px;
            text-transform: uppercase;
            font-family: 'Ubuntu-R';
            width: 370px;
        }
    }

    .slider-left-bdr
    {
        
        margin: 100px 0 20px;
    }
    .slider-right-bx
    {
        width: 100%;
        float: left;
        
        
        p
        {
            color: #FFF;
            font-family: Arial;
                font-weight: 700;
                text-align: center;
                font-size: 14px;
                padding: 0 15px 0 40px;
                border-left: 1px solid #d1d1d1;
            span
            {
                color: #FFF;
                font-size: 20px;
            }
        }
    }
    .gradient-button-bx
    {
        .grdnt-brn
        {
            color: #FFF;
        }
    }
}
.recrutement-bx
{
    width: 100%;
    float: left;
    
    .recrutment-step
    {
        .step-box
        {
            width: 100%;
            float: left;
            padding-bottom: 20px;
            .img-bx
            {
                width: 100%;
                float: left;
                position: relative;
                img
                {
                    width: 100%;
                }
                
                .hover-overlay
                {
                    display: none;
                    padding: 10%;
                    position: absolute;
                    top: 0;
                    left: -120%;
                    width: 100%;
                    height: 100%;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    
                    .hover-text
                    {
                        background-color: rgba(0,171,164,0.8);
                        width: 100%;
                        height: 100%;
                        float: left;
                        p
                        {
                            text-align: center;padding: 25% 0 0;
                            color: #FFF;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-family: 'arial_3';
                        }
                    }
                }
            }
            &:hover 
            {
                cursor: pointer;
                .img-bx
                {
                    .hover-overlay
                    {
                        display: block;
                        left: 0;
                        -webkit-transition: all 0.5s ease;
                            transition: all 0.5s ease;
                    }
                }
                
            }
            .text-bx
            {
                width: 100%;
                float: left;
                h4
                {
                  text-align: center;
                  color: #1f1f1f;
                  font-family: 'ProximaNova-Bold';
                  padding: 20px 0 15px;
                  font-size: 20px;
                }
                p
                {
                    color: #222222;
                    font-size: 15px;
                    font-family: 'arial_3';
                    text-align: center;
                }
            }
        }
    }
}
.hm-email-bx
{
    width: 100%;
    float: left;
    background-color: #F4F4F4;
    padding: 25px 0;
    h3
    {
        color: #232121;
        margin: 0;
        font-size: 18px;
        font-family: 'Ubuntu-Bold';
    }
    .input-group
    {
        width: 100%;
        input
        {
            float: left;
            width: 95%;
            border-radius: 20px;
            color: #6a6a6a;
            padding: 12px 170px 12px 12px;
            border: none;
            height: 50px;
        }
        .hm-email-send-btn
        {
            float: left;
            width: 200px;
            background-color: #00B2AA;
            padding: 11px 15px;
            border-radius: 20px;
            color: #FFF;
            position: absolute;
            right: 0;
            font-family: 'arial-round';
            text-transform: uppercase;
            font-size: 20px;
            z-index: 11;
            font-weight: 500;
        }
    }
    
}
footer
{
    width: 100%;
    float: left;
    background: url("../images/footer_image.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    padding: 90px 0 20px;
    .footer-container
    {
        width: 96%;
        margin: auto;
        ul
        {
            list-style: none;
            padding: 0;
            margin: 0 0 15px 0px;
            width: 100%;
            float: left;
            li
            {
                min-width: 100%;
                float: left;
                padding: 5px 0;
                a
                {
                    color: #FFF;
                    text-transform: uppercase;
                    font-family: 'arial-round';
                    font-size: 18px;
                    span
                    {
                        float: left;
                        padding: 0 15px 0 0;
                    }
                    &:hover
                    {
                        color: #00B2AA;
                    }
                }
            }
        }
        p
        {
            color: #FFF;
            font-family: 'arial-round';
            font-size: 18px;
            padding: 0;
            margin: 0;
            line-height: 32px;
            a
            {
                color: #FFF;
                min-width: 100%;
                float: left;
                &:hover
                {
                    color: #00B2AA;
                }
            }
        }
        .hm-ftr-social-media
        {
            width: 100%;
            float: left;
            a
            {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
            
            }
            &:first-child
            {
                margin: 5px 5px 5px 0;
            }
            
            .facebook
            {
                background: url("../images/social_icons.png") no-repeat center center; 
                background-position: 0px 0;
                
            }
            .tweet
            {
                background: url("../images/social_icons.png") no-repeat center center; 
                background-position: -33px 0;
            }
            .gmail
            {
                background: url("../images/social_icons.png") no-repeat center center; 
                background-position: -66px 0;
            }
            .linkedin
            {
                background: url("../images/social_icons.png") no-repeat center center; 
                background-position: -99px 0;
            }
        }
        .copy-right
        {
            width: 100%;
            float: left;
            margin: 50px 0 0;
            h5
            {
                text-align: center;
                margin: 0;
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                
            }
        }
    }
}
/*========================================================= registration popup*/
.hm-popup
{
    .modal-content
    {
        width: 100%;
        float: left;
        border-radius: 20px;
    }
    .modal-header
    {
        width: 100%;
        float: left;
        padding: 15px 15px 15px;
        .modal-title
        {
            h3
            {
                text-transform: uppercase;
                color: #4A4A4A;
                font-family: 'ArialMT';
                margin: 15px 0 0 0;
                font-weight: 600;
                font-size: 22px;
                text-align: center;
            }
            span
            {
                position: absolute;
                top: 15px;
            }
            
        }
    }
    .btn-line
    {
        width: 100%;
        float: left;
        img
        {
            width: 100%;
        }
    }
    .modal-body
    {
        width: 100%;
        float: left;
        .form-group
        {
            label
            {
                font-family: 'arial_3';
                font-size: 20px;
                font-weight: 500;
            }
            input
            {
                border-radius: 20px;
                height: 50px;
                font-family: 'arial_3';
            }
        }
        
    }
    .popup-main-btn
        {
            margin: 15px 0 0;
            .btn-social
            {
                height: 50px;
                border-radius: 20px;
                padding: 15px;
                text-align: center;
                font-size: 18px;
                font-family: 'arial_3';
            }
           
            .btn-social 
            {
                color: #FFF;
                line-height: 16px;
                span
                {
                    width: 60px;
                    font-size: 32px;
                    top: 0;
                    padding: 8px 0 0;
                    img
                    {
                    }
                }
                .register-popup-span
                {
                    background-color: #D1433D;
                }
                
            }
            
        }
    .modal-footer
    {
        width: 100%;
        float: left;
        border-top: none;
        padding: 15px 15px 40px;
    }
    .popup-logo-title-bx
    {
        width: 100%;
        float: left;
        .hm-popup-ttl-text
        {
            width: 100%;
            float: left;
            text-align: center;
            .line
            {
                width: 15%;
                height: 1px;
                background-color: #333333;
                margin: 0px 0 0;
                display: inline-block
            }
            .title
            {
                display: inline-block;
                color: #666;
                font-size: 18px;
                line-height: 16px;
                width: 60%;
                text-align: center;
            }
        }
        .popup-social-logo
        {
            width: 100%;
            float: left;
            text-align: center;
            margin: 15px 0 0;
            a
            {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}
.hm-signin-popup
{
    .popup-logo-title-bx
    {
        .hm-popup-ttl-text
        {
            padding: 20px 0 20px;
        }
        .popup-social-logo
        {
            margin: 15px 0 !important;
        }
    }
    .green-light
    {
        span:#00908A !important;
    }
    .popup-main-btn
    {
        margin: 0;
    }
}
.up-scroll
{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    color: #FFF;
    right: 20px;
    bottom: 20px;
}