.may-cart
{
    .may-cart-box
    {
        width: 100%;
        float: left;
        padding: 0px 0 30px;
        table
        {
            border-collapse:separate;
            border-spacing: 10px 10px;
            thead
            {
                tr
                {
                    th:first-child
                    {
                        width: 50%;
                    }
                    th
                    {
                        
                        width: 22%;
                        border: 1px solid #d1d1d1;
                        padding: 5px 10px;
                        background-color: #4FAAD4;
                        color: #FFF;
                        height: 50px;
                        font-size: 18px;
                        font-family: 'ArialMT';
                        font-weight: 600;
                        
                    }
                    th:last-child
                    {
                        border: none;
                        width: 6%;
                        background-color: transparent;
                    }
                }
            }
            tbody
            {
                tr
                {
                    td
                    {
                        width: 22%;
                        border: 1px solid #d1d1d1;
                        padding: 5px 10px;
                        color: #303030;
                        height: 50px;
                        font-size: 18px;
                        font-family: 'ArialMT';
                        .total-text
                        {
                            width: auto;
                            float: right;
                            text-align: right;
                        }
                        .amount
                        {
                            width: 220px;
                            float: right;
                            text-align: right;
                        }
                    }
                    td:first-child
                    {
                        width: 50%;
                    }
                    td:last-child
                    {
                        width: 6%;
                        img
                        {
                            padding: 5px;
                            padding: 10% 25%;
                        }
                    }
                    .final-amount
                    {
                        height: 80px;
                        background-color: #EEEDEE;
                        color: #000;
                        font-size: 22px;
                        .main-total
                        {
                            float: left;
                            width: 50%;
                            text-align: left;
                            
                        }
                        .total-amount
                        {
                            float: left;
                            width: 50%;
                            text-align: right;
                        }
                    }
                }
            }
        }
        
    }
    .mycart-btn
    {
        width: 100%;
        float: left;
        padding: 70px 0;
        .round-btn
        {
            width: 260px;
            float: right;
            &:first-child
            {
                margin: 0 10px 0 30px;
            }
        }
    }
}
@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{
    
}
@media screen and (max-width:1024px)
{
   
}
@media screen and (max-width:991px)
{
   .may-cart
   {
        .may-cart-box
        {
            table
            {
                thead
                {
                    tr
                    {
                        th:first-child
                        {
                            width: 500px !important;
                        }
                        th
                        {
                            height: 40px;
                            font-size: 15px;
                            width: 200px;
                        }
                        
                    }
                }
            
                tbody
                {
                    tr
                    {
                        td
                        {
                            font-size: 15px;
                            &:fist-child
                            {
                                width: 335px;   
                            }
                            
                            &:last-child 
                            {
                                width: 40px;
                                img
                                {
                                    padding: 0 5%;
                                    width: 40px;
                                }
                               
                            }
                        }
                        .final-amount
                        {
                            height: 60px;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        .may-cart
        {
            .mycart-btn
            {
                .round-btn
                {
                    width: 260px;
                }
            }
        }
   }
                        
                        
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
    .may-cart-box
    {
        table
        {
            width: 768px;
        }
    }
    .may-cart
    {
        .mycart-btn
        {
            padding: 20px 0 40px;
            .round-btn
            {
                width: 260px;
                text-align: center;
                margin:15px auto 15px !important;
                float: none;
            }
        }
    }
   
}
@media screen and (max-width:640px)
{
   
}
@media screen and (max-width:600px)
{
    
}
@media screen and (max-width:480px)
{
    
}
@media screen and (max-width:414px)
{
    
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}