.receive-cv-priority
{
    .content-receive-priority
    {
        font-size: 18px;
        font-family: 'ArialMT';
    }
    .cv-content
    {
        margin-top: 63px;
        font-family: 'ArialMT';
        font-weight: bold;
        font-size:31px;
        color:000000;
        text-align: center;
        width: 100%
    }
    .inpot-bx {
        float: left;
        padding: 0 0 20px;
        width: 100%;
        .edit-profile-btn {
            float: left;
            padding: 10px 0 0;
            width: auto;
            a {
                line-height: 28px;
                padding: 10px 15px 10px 70px;
                width: auto;
            }
        }
    }
    .btn-subscribe-service
    {
        margin-top: 29px;
    }
}

.recruiter-my-profile{
    .premium-logo
    {
        float: left; min-width: 100%;
        img{
            margin: 0px auto;
        }
        .premium-member-lbl{
            min-width: 100%;
            text-align: center;
            color: #e2aa6d; 
            font-size: 17px;
            font-family: 'ProximaNova-Bold';
            text-transform: uppercase;
            padding-top: 12px;
        }
    }
    .profile-content{
        float: left;  
        margin-top: 100px;                
        position: relative;
        width: 100%;
    }
    .border-bx{
        float: left;
    }

    .change-password-section{
        margin-top: 95px;
    }
    .edit-profile-bx{        

        float: left;
        position: relative;
        width: 100%;
        .profile-pic-content
        {
            float: right;
        }
        .image-right-left-content
        {
            margin-bottom: 90px;
        }
        .profile-pic-re
        {
            margin: 0 auto;
        }
        .profile-pic-text
        {
            margin-top: 7px;
            text-align: center;
            color: #000000; 
            font-size: 18px;
        }
        .application-btn-bg
        {
            background-color: #00ABA4 !important;
        }
        .application-btn-span-bg
        {
            background-color: #008C85 !important;
        }
        .change-password{
            color: hsl(249, 9%, 41%);
            font-size: 29px;
            font-weight: bold;
            letter-spacing: 6px;
            padding-left: 18px;
            word-spacing: 20px;            
        }
        .red-label {
            float: left;
            font-family: "ArialMT";
            font-size: 23px;
            min-width: 100%;
            padding-bottom: 15px;
        }
        .inpot-bx {
            float: left;
            padding: 0 0 20px;
            width: 100%;
            .edit-profile-btn {
                float: left;
                padding: 10px 0 0;
                width: auto;
                a {
                    line-height: 28px;
                    padding: 10px 15px 10px 70px;
                    width: auto;
                }
            }
        }
        .bg-img 
        {
            position: absolute;
            right: 5%;            
            width: 250px;
        }
    }

}


/*======================================================== Responsive Media */
@media screen and (max-width:1280px)
{

}
@media screen and (max-width:1200px)
{      

}
@media screen and (max-width:1024px)
{

}
@media screen and (max-width:991px)
{
    .receive-cv-priority{
        .inpot-bx{
            .edit-profile-btn {
                float: none;
                margin: 0 auto;
                padding: 10px 0 0;
                text-align: center;
                width: 271px;
            }   
        }
    }
}
@media screen and (max-width:800px)
{
    .recruiter-my-profile
    {
        .edit-profile-bx
        {
            .bg-img {
                margin: 0 auto;
                position: initial;
                right: 5%;
                width: 250px;
            }
            .inpot-bx{
                .edit-profile-btn
                {
                    a {
                        line-height: 28px;
                        padding: 5px 15px 10px 70px;
                        width: auto;
                    }   
                }   
            }
        }
    } 
    .receive-cv-priority{
        .inpot-bx{
            .edit-profile-btn { 
                a {
                    line-height: 28px;
                    padding: 4px 15px 10px 70px;
                    width: auto;
                }
            }
        }
    }


}
@media screen and (max-width:767px)
{

}
@media screen and (max-width:640px)
{

}
@media screen and (max-width:600px)
{

}
@media screen and (max-width:480px)
{

}
@media screen and (max-width:414px)
{

}

@media screen and (max-width:360px)
{

}
@media screen and (max-width:320px)
{

}
