.main-profle-body
{
    width: 100%;
    float: left;
    .top-section
    {
        margin: 25px 0 0 !important;
        padding: 74px 0 0 !important;
        .title-box
        {
            padding: 70px 0 45px;
        }
    }
}

/*.title-box
{
    .text-background
    {
        font-size: 200px;
    }
}*/
.registration-main
{
    .main-registration-body
    {   
        .registration-btn{
            float: right;width: auto;margin-bottom: 44px
        }
        .registration-btn-a{
             width: 270px;padding: 10px 15px 10px 70px;line-height: 28px;
        }
        .top-section
        {
            margin: 0 !important;
            padding: 0 !important;
            .broadcast-list
            {
                .green-light-font
                {
                    width: 81%;
                    margin-left: 125px;
                }

            }
        }
        .text-cv-database-alias
        {
            //width: 98%;
        }

        fieldset{
            border:1px solid #EAEAEA;
            margin-bottom: 93px;
            padding: 00px 15px 0;
        }
        legend{
            background-color: hsl(0, 0%, 100%);
            border-style: none;
            padding: 20px;
            position: relative;
            top: 37px;
            width: auto;
        }
        .comment-bx
        {
            .comment
            {
                .comment-text
                {
                    .cv-title-database
                    {
                        color: #73a283;                    
                    }
                    .cv-designation{
                        color : #828282;
                        font-size : 15px
                    }
                    .cv-availability-date{
                        margin-top: 8px !important;
                        color: #6e6e6e; 
                        font-size : 18px
                    }
                } 
            } 
        }
        .cv-database-icon-bx
        {
            width: 105px;
            bottom: 0;
            right: 15px;
            position: absolute;
            text-align: center;
            .icon-bx
            {
                text-align: center;
                margin-top:15px;
                a
                {
                    display: inline-block;
                    margin:  0 3px;
                    position: relative;
                    .tooltip-bx1
                    {
                        background-color: hsl(178, 100%, 34%);
                        border-radius: 10px;
                        color: hsl(0, 0%, 100%);                    
                        font-size: 16px;
                        height: 36px;
                        left: -78px;
                        padding: 6px 5px;
                        position: absolute;
                        text-align: center;
                        top: -55px;
                        width: 176px;
                        display:none;
                        i
                        {
                            bottom: -5px;
                            color: hsl(178, 100%, 34%);
                            font-size: 40px;
                            line-height: 14px;
                            position: relative;
                            right: -8px;
                        }
                    }
                    .tooltip-bx2
                    {
                        background-color: #E4B853;
                        color: #FFF;
                        min-width: 295px;
                        font-size: 16px;
                        position: absolute;
                        border-radius: 10px;
                        padding: 6px 6px;
                        right: -16px;
                        display: none;
                        bottom: 56px;
                        i
                        {
                            color: hsl(42, 73%, 61%);
                            font-size: 40px;
                            line-height: 14px;
                            position: relative;
                            right: 7px;
                            top: 29px;
                        }
                    }
                }
                .green-tooltip
                {
                    &:hover
                        {
                        .tooltip-bx1
                        {
                            display: block;
                        }
                    }
                }
                .gree-rating
                {
                    &:hover
                        {
                        .tooltip-bx2
                        {
                            display: block;
                        }
                    }
                }

                .green-tooltip + .tooltip > .tooltip-inner
                {

                    color: #FFF;
                    padding: 5px 10px;
                    font-size: 16px;
                    min-width: 175px;
                    margin-bottom: 10px;
                }
                .green-tooltip + .tooltip > .tooltip-arrow
                {
                    margin-bottom: 10px;
                    border-top-color: #00ABA4;
                }
                .gree-rating + .tooltip > .tooltip-inner
                {
                    background-color: #E4B853;
                    color: #FFF;
                    min-width: 265px;
                    font-size: 16px;
                    margin: 0 100px 0 0;
                }
                .gree-rating
                {
                    right: 0
                }
                .gree-rating + .tooltip > .tooltip-arrow
                {
                    border-bottom-color: #E4B853;
                }

            }
        }
        .search-cv-database-btn
        {
            width: 98%;
            float: left;

            .round-btn
            {
                width: 200px;
                float: right;
                &:first-child
                    {
                    margin: 0 10px 0 30px;
                    padding: 16px 0 0 53px;
                }
            }
        }
        .select-bx
        {   
            .select-label
            {
                font-size: 15px;
            } 
            label
            {
                padding: 0 6px 9px;
            }
            select
            {
                width: 100%;

            }
            .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus
                {
                background-color: transparent;
            }
            .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
                {
                width: 100%;

            }
            .bootstrap-select .dropdown-toggle:focus
                {
                outline: none;
            }
            .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover
                {
                background-color: transparent;
            }
            .btn-default
            {
                width: 100%;
                min-height: 45px;
                border-radius: 20px;
                background-image: none;

                color: #333 !important;
                .caret
                {
                    border-left: 7px solid hsla(0, 0%, 0%, 0);
                    border-right: 7px solid hsla(0, 0%, 0%, 0);
                    border-top: 7px dashed;
                    float: right;
                    margin: -3px 0 0;
                }
            }
            .dropdown-menu
            {
                border-radius: 20px;
                margin: 10px 0 0;
                padding: 0;
                box-shadow: none;
                ul
                {
                    margin: 0;
                    padding: 0;
                    li
                    {
                        a
                        {
                            font-family: 'ArialMT';
                            font-size: 16px;
                            color: #a1a1a1;
                        }
                        &:first-child
                            {
                            a
                            {
                                border-radius: 20px 20px 0 0;
                            }
                        }
                        &:last-child
                            {
                            a
                            {
                                border-radius: 0px 0px 20px 20px;
                            }
                        }
                    }
                }
            }
        }
    }

}
.registration
{
    padding: 100px 0 0;
    .hm-slider-content
    {

        float: left;
        padding: 45px 0 20px;
        width: 100%;
    }
    .banner-image
    {
        position: relative;
        img
        {
            width: 100%;
        }
    }
    .banner-image-text-div
    {
        position:absolute;min-width: 100%; top:35%;
    }
    .banner-image-text{
        text-align: center;
        
        h3{
            display: inline-block;
            margin: 0;
            padding: 30px 40px;
            background-color: rgba(0,0,0,0.4);
            color: white;
            blockquote
            {
                font-size: 50px;
                border-left: 2px solid #EB715F;
                font-family: 'ProximaNova-Bold';
                padding: 0 0px 0 15px;
                margin: 0;
                line-height: 38px;
            }
        }
    }
    .title-box
    {
        .green-light-font
        {
            margin: 10px 0;
        }
        .text-cv-database-alias
        {
            margin-top: -30px;
        }

    }
    .comment-bx
    {
        .comment
        {
            .comment-text
            {
                .cv-title-database
                {
                    color: #73a283;                    
                }
                .cv-designation{
                    color : #828282;
                    font-size : 15px
                }
                .cv-availability-date{
                    margin-top: 8px !important;
                    color: #6e6e6e; 
                    font-size : 18px
                }
            } 
        } 
    }
    .cv-database-icon-bx
    {
        width: 105px;
        bottom: 0;
        right: 15px;
        position: absolute;
        text-align: center;
        .icon-bx
        {
            text-align: center;
            margin-top:15px;
            a
            {
                display: inline-block;
                margin:  0 3px;
                position: relative;
                .tooltip-bx1
                {
                    background-color: hsl(178, 100%, 34%);
                    border-radius: 10px;
                    color: hsl(0, 0%, 100%);                    
                    font-size: 16px;
                    height: 36px;
                    left: -78px;
                    padding: 6px 5px;
                    position: absolute;
                    text-align: center;
                    top: -55px;
                    width: 176px;
                    display:none;
                    i
                    {
                        bottom: -5px;
                        color: hsl(178, 100%, 34%);
                        font-size: 40px;
                        line-height: 14px;
                        position: relative;
                        right: -8px;
                    }
                }
                .tooltip-bx2
                {
                    background-color: #E4B853;
                    color: #FFF;
                    min-width: 295px;
                    font-size: 16px;
                    position: absolute;
                    border-radius: 10px;
                    padding: 6px 6px;
                    right: -16px;
                    display: none;
                    bottom: 56px;
                    i
                    {
                        color: hsl(42, 73%, 61%);
                        font-size: 40px;
                        line-height: 14px;
                        position: relative;
                        right: 7px;
                        top: 29px;
                    }
                }
            }
            .green-tooltip
            {
                &:hover
                    {
                    .tooltip-bx1
                    {
                        display: block;
                    }
                }
            }
            .gree-rating
            {
                &:hover
                    {
                    .tooltip-bx2
                    {
                        display: block;
                    }
                }
            }

            .green-tooltip + .tooltip > .tooltip-inner
            {

                color: #FFF;
                padding: 5px 10px;
                font-size: 16px;
                min-width: 175px;
                margin-bottom: 10px;
            }
            .green-tooltip + .tooltip > .tooltip-arrow
            {
                margin-bottom: 10px;
                border-top-color: #00ABA4;
            }
            .gree-rating + .tooltip > .tooltip-inner
            {
                background-color: #E4B853;
                color: #FFF;
                min-width: 265px;
                font-size: 16px;
                margin: 0 100px 0 0;
            }
            .gree-rating
            {
                right: 0
            }
            .gree-rating + .tooltip > .tooltip-arrow
            {
                border-bottom-color: #E4B853;
            }

        }
    }
    .search-cv-database-btn
    {
        width: 98%;
        float: left;

        .round-btn
        {
            width: 200px;
            float: right;
            &:first-child
                {
                margin: 0 10px 0 30px;
                padding: 16px 0 0 53px;
            }
        }
    }
    .select-bx
    {   
        .select-label
        {
            font-size: 15px;
        } 
        label
        {
            padding: 0 6px 9px;
        }
        select
        {
            width: 100%;

        }
        .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus
            {
            background-color: transparent;
        }
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            {
            width: 100%;

        }
        .bootstrap-select .dropdown-toggle:focus
            {
            outline: none;
        }
        .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover
            {
            background-color: transparent;
        }
        .btn-default
        {
            width: 100%;
            min-height: 45px;
            border-radius: 20px;
            background-image: none;

            color: #333 !important;
            .caret
            {
                border-left: 7px solid hsla(0, 0%, 0%, 0);
                border-right: 7px solid hsla(0, 0%, 0%, 0);
                border-top: 7px dashed;
                float: right;
                margin: -3px 0 0;
            }
        }
        .dropdown-menu
        {
            border-radius: 20px;
            margin: 10px 0 0;
            padding: 0;
            box-shadow: none;
            ul
            {
                margin: 0;
                padding: 0;
                li
                {
                    a
                    {
                        font-family: 'ArialMT';
                        font-size: 16px;
                        color: #a1a1a1;
                    }
                    &:first-child
                        {
                        a
                        {
                            border-radius: 20px 20px 0 0;
                        }
                    }
                    &:last-child
                        {
                        a
                        {
                            border-radius: 0px 0px 20px 20px;
                        }
                    }
                }
            }
        }
    }
    .registration-form
    {
        .row{
            margin-left: 10px;
        }
    }
}

/*======================================================== Responsive Media */
@media screen and (max-width:1280px)
{

}
@media screen and (max-width:1200px)
{      
    .registration
    {
        .banner-image-text
        {
            h3
            {
                blockquote
                {
                    font-size: 38px;
                    line-height: 30px;
                }
            }
        }
    }
}
@media screen and (max-width:1024px)
{

}
@media screen and (max-width:991px)
{
    .blog-main-box
    {
        .all-search-box
        {
            .comment-bx
            {
                .img-bx
                {
                    width: 20%;
                }
                .comment
                {
                    width: 80%;
                }
            }
        }
    }
    .registration
    {
        padding: 85px 0 0;
        .banner-image-text
        {
            h3
            {
                padding: 20px 25px;
                blockquote
                {
                    font-size: 32px;
                    line-height: 26px;
                }
            }
        }
    }
}
@media screen and (max-width:800px)
{
    .registration-main{
        .main-registration-body{
            .top-section{
                .broadcast-list
                {
                    .green-light-font
                    {
                        margin-left: 0;
                        width: 100%;
                    }
                }
            } 
            .registration-btn-a
            {
                padding: 4px 15px 10px 70px;
            }
        } 
    }

}
@media screen and (max-width:767px)
{
    .search-box
    {

        .btn-box
        {
            text-align: center;
            margin: 20px 0 0px;
        }
    }
    .cv-database-main
    {
        .blog-main-box
        {
            .all-search-box
            {
                .comment-bx
                {
                    .rating-bx
                    {
                        float: right;
                        position: inherit;
                    }
                }
            }
        }
        .search-box-cv
        {
            .select-bx
            {
                padding-bottom: 10px;

                .select-label
                {
                    padding: 0 6px 4px;
                }
            }

        }
        .search-cv-database-btn{

            .round-btn:first-child{
                padding: 6px 0 0 53px;
            }

        }
        .see-more-cv-database{
            padding:7px 16px 16px 60px;
        }
    }
    .registration
    {
        padding: 65px 0 0;
        .banner-image-text
        {
            h3
            {
                padding: 20px 25px;
                blockquote
                {
                    font-size: 24px;
                    line-height: 20px;
                }
            }
        }
    }
}
@media screen and (max-width:640px)
{

}
@media screen and (max-width:600px)
{
    .blog-main-box
    {
        .all-search-box
        {
            .comment-bx
            {
                .img-bx
                {
                    width: 25%;
                }
                .comment
                {
                    width: 75%;
                }
                .rating-bx
                {
                    .icon-box
                    {
                        width: 35px;
                        height: 35px;
                        font-size: 20px;
                        padding: 4px 0 0;
                    }
                }
            }
        }
    }
    .registration
    {
        .banner-image-text
        {
            h3
            {
                padding: 15px 10px;
                blockquote
                {
                    font-size: 18px;
                    line-height: 16px;
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}
@media screen and (max-width:480px)
{
    .registration
    {
        .banner-image-text
        {
            h3
            {
                padding: 15px 10px;
                blockquote
                {
                    font-size: 16px;
                    line-height: 14px;
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}
@media screen and (max-width:414px)
{
    .cv-database-main
    {
        .blog-main-box 
        {
            .all-search-box
            {
                .comment-bx
                {
                    .img-bx
                    {
                        float: none;
                        width: 29%;
                    }
                    .comment
                    {
                        width: 100%
                    }
                } 
            } 
        }

    }
    .blog-main-box
    {
        .all-search-box
        {
            .comment-bx
            {
                .img-bx
                {
                    float: none;
                    margin: 0 auto;
                    width: 60%;
                }
                .comment
                {
                    width: 100%;
                    padding: 15px 0 0;
                    h4
                    {
                        font-size: 18px;
                    }
                    .text
                    {
                        label
                        {
                            font-size: 17px;
                        }
                        p
                        {
                            font-size: 15px;
                            padding: 0 43px 5px 0;
                        }
                    }
                }
            }
        }
    }
    .registration
    {
        .banner-image-text
        {
            h3
            {
                padding: 15px 10px;
                blockquote
                {
                    font-size: 16px;
                    line-height: 14px;
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width:360px)
{

}
@media screen and (max-width:320px)
{

}
