.blog-main-box
{
    .search-box
    {
        width: 100%;
        float: left;
        padding: 120px 0 30px;
        color: #000;
        .search-input
        {
            border-radius: 20px;
            color: #000;
            font-size: 18px;
        }    
    }
    
    .all-search-box
    {
        .blog-box-btn
        {
            padding: 15px 0 40px;   
        }
        .search-bx-label
        {
            font-family: 'arial_3';
            font-weight: 500;
            font-size: 18px;
            margin: 0;
            padding: 0 0 15px;
        }
        .comment-bx
        {
            padding: 20px;
            .img-bx
            {
                width: 13%;
                float: left;
            }
            .comment
            {
                width: 87%;
                float: left;
                h4
                {
                    font-size: 20px;
                    font-family: 'ArialMT';
                   font-size: 700;
                   margin: 5px 0 5px;
                }
                .text
                {
                    width: 100%;
                    float: left;
                    position: relative;
                    label
                    {
                        font-weight: 500;
                        margin: 5px 0 0;
                        padding: 0;
                        font-family: 'ArialMT';
                        font-size: 18px;
                    }
                    p
                    {
                        padding: 0 60px 5px 0px
                    }
                }
            }
            .rating-bx
            {
                width: auto;
                position: absolute;
                right: 0;
                top: 0;
                
                .icon-box
                {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #CFCFCF;
                    color: #FFF;
                    font-size: 28px;
                    text-align: center;padding: 3px 0 0;
                    position: relative;
                    float: right;
                    
                    &:hover
                    {
                        background-color: #E4B852;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


/*======================================================== Responsive Media */
@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{      
    
}
@media screen and (max-width:1024px)
{
   
}
@media screen and (max-width:991px)
{
  .blog-main-box
  {
    .all-search-box
    {
        .comment-bx
        {
            .img-bx
            {
                width: 20%;
            }
            .comment
            {
                width: 80%;
            }
        }
    }
  }
   
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
   .search-box
   {
    
        .btn-box
        {
            text-align: center;
            margin: 20px 0 0px;
        }
   }
}
@media screen and (max-width:640px)
{
   
}
@media screen and (max-width:600px)
{
    .blog-main-box
  {
    .all-search-box
    {
        .comment-bx
        {
            .img-bx
            {
                width: 25%;
            }
            .comment
            {
                width: 75%;
            }
            .rating-bx
            {
                .icon-box
                {
                    width: 35px;
                    height: 35px;
                    font-size: 20px;
                    padding: 4px 0 0;
                }
            }
        }
    }
  }
}
@media screen and (max-width:480px)
{
    
}
@media screen and (max-width:414px)
{
    .blog-main-box
    {
        .all-search-box
        {
            .comment-bx
            {
                .img-bx
                {
                    float: none;
                    margin: 0 auto;
                    width: 60%;
                }
                .comment
                {
                    width: 100%;
                    padding: 15px 0 0;
                    h4
                    {
                        font-size: 18px;
                    }
                    .text
                    {
                        label
                        {
                            font-size: 17px;
                        }
                        p
                        {
                            font-size: 15px;
                            padding: 0 43px 5px 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}
