.send-application
{
    .msg-label
    {
        color: #303030;
        font-size: 18px;
        padding: 0 0 10px 0px;
        min-width: 100%;
    }
    .main-msg-box
    {
        width: 100%;
        float: left;
        
        textarea
        {
            width: 100%;
            float: left;
            border: 1px solid #d1d1d1;
            padding: 20px;
            min-height: 365px;
            border-radius: 20px;
            margin-bottom: 30px;
             max-width: 100%;
            min-width: 100%;
        }
        
    }
    .uploaded-file
    {
        p
        {
            color: #303030;
            font-size: 18px;
            margin: 8px 0 0;
            padding: 0;
        }
        .form-group
        {
            //input
            //{
            //    background-color: #8680B8;
            //    color: #FFF;
            //    font-family: "ArialMT";
            //    font-size: 18px;
            //}
            .upload-file-btn
            {
                background-color: #8680B8;
                color: #FFF;
                font-family: "ArialMT";
                font-size: 18px;
                border: none;
                width: 100%;
                height: 50px;
                padding: 10px 20px;
                border-radius: 20px;
                text-align: left;
            }
        }
        
    }
    .check-box
    {
        padding: 5px 0 10px !important;
        label
        {
            color: #000;
            font-size: 16px;
        }
    }
    .applicatiopn-comment
    {
        width: 100%;
        float: left;
        padding: 70px 0 0;
        .comment-box
        {
            width: 100%;
            float: left;
            border: 1px solid #d1d1d1;
            padding: 20px;
            min-height: 180px;
            max-width: 100%;
            min-width: 100%;
            border-radius: 20px;
            margin-bottom: 30px;
        }
    }
    .application-btn-box
    {
        width: 310px;
        float: right;
        padding: 170px 0;
        .applicantion-btn
        {
            min-width: 100%;
            a
            {
                padding: 10px 15px 10px 60px;
            }
        }
    }
    .candidate-img-box
    {
        width: 100%;
        float: left;
        .img-bx
        {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            float: left;
            margin: 0 0 50px;
            img
            {
                border-radius: 50%;
            }
        }
    }
    .candidate-details-text
    {
        p
        {
            color: #303030;
            font-family: "ArialMT";
            font-size: 18px;
            margin: 0 0 25px;
            padding: 0;
        }
        .check-box
        {
            width: auto;
            float: left;
            padding: 0 0 10px !important;
            &:first-child
            {
                margin: 0 15px 0 0;
            }
        }
        .form-group
        {
            //input
            //{
            //    background-color: #8680B8;
            //    color: #FFF;
            //    font-family: "ArialMT";
            //    font-size: 18px;
            //}
            .upload-file-btn
            {
                background-color: #8680B8;
                color: #FFF;
                font-family: "ArialMT";
                font-size: 18px;
                border: none;
                width: 100%;
                height: 50px;
                padding: 10px 20px;
                border-radius: 20px;
                text-align: left;
            }
        }
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            li
            {
                padding: 0 20px 0 0;
                float: left;
                img
                {
                    float: left;
                }
                span
                {
                    float: left;
                    margin: 8px 0 0 10px;
                    font-family: "ArialMT";
                    font-size: 20px;
                }
            }
        }
        .modify-details
        {
            padding: 80px 0 80px;
            float: left;
        }
        .candidate-application-btn
        {
            width: 100%;
            float: left;
            .applicantion-btn
            {
                min-width: auto;
                a
                {
                    padding: 10px 20px 10px 75px;
                }
            }
            .left-btn
            {
                float: left;
                min-width: 310px;
            }
            .right-btn
            {
                float: right;
                min-width: 265px;
            }
        }
    }
}



/**************************************************************************** Media query resposive*/

@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{
    
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
   .send-application
   {
        .main-msg-box
        {
            textarea
            {
                min-height: 260px;
            }
        }
        .applicatiopn-comment
        {
            padding: 50px 0 0;
        }
        .application-btn-box
        {
            padding: 80px 0;
        }
   }
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
   .send-application
   {
        .application-btn-box
        {
            .applicantion-btn
            {
                a
                {
                    padding: 7px 15px 10px 60px;
                }
            }
        }
        .candidate-details-text
        {
            p
            {
                margin: 0 0 15px;
                font-size: 16px;
            }
            .modify-details
            {
                padding: 30px 0;
            }
            .form-group
            {
                margin: 0px 0 15px;
            }
            .candidate-application-btn
            {
                .candidate-application-btn
                {
                    margin: 0 0 15px;
                }
                .left-btn, .right-btn
                {
                    min-width: 300px;
                    margin: 0 auto 15px;
                    width: 300px;
                    float: none;
                    a
                    {
                        padding: 6px 20px 6px 75px;
                    }
                }
            }
        }
   }
   
}
@media screen and (max-width:640px)
{
    .send-application
    {
        .candidate-details-text
        {
            .modify-details
            {
                ul
                {
                    li
                    {
                        padding: 5px 0 0 0;
                        &:first-child
                        {
                            padding: 5px 10px 0 0;
                        }
                        a
                        {
                             img
                            {
                                width: 35px;
                            }
                            span
                            {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:600px)
{
   .send-application
   {
    .main-msg-box
    {
        textarea
        {
            min-height: 200px;
        }
    }
        .candidate-details-text
        {
            p
            {
                margin: 0 0 10px;
            }
        }
   }
   
   
}
@media screen and (max-width:480px)
{
    .send-application
    {
        .main-msg-box
        {
            textarea
            {
                margin-bottom: 20px;
                min-height: 160px;
            }
        }
        .uploaded-file
        {
            p
            {
                font-size: 16px;
            }
        }
        .applicatiopn-comment
        {
            padding: 0px 0 0;
            .comment-box
            {
                min-height: 150px;
            }
        }
        .application-btn-box
        {
             padding: 20px 0;
             margin: 0 auto;
             float: none;
        }
        .mob-width
        {
            width: 100%;
        }
        .candidate-details-text
        {
            .modify-details
            {
                .mob-width
                {
                    width: 100%;
                    .form-group
                    {
                        width: 60%;
                        margin: 0 0 5px;
                    }
                    ul
                    {
                        padding: 0 0 15px;
                        float: left;
                    }
                }
                ul
                {
                    li
                    {
                        &:first-child
                        {
                            padding: 5px 10px 0 0;
                        }
                        a
                        {
                             img
                            {
                                width: 35px;
                            }
                            span
                            {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:414px)
{
   .send-application
   {
        .application-btn-box
        {
            width: 265px;
        }
        
        .candidate-application-btn
        {
            .candidate-application-btn
            {
                margin: 0 0 15px;
            }
            .left-btn, .right-btn
            {
                min-width: 275px !important;
                margin: 0 auto 15px;
                width: 275px !important;
                float: none;
                a
                {
                    padding: 6px 20px 6px 65px !important;
                }
            }
        }
         .candidate-details-text
         {
            .modify-details
            {
                ul
                {
                    li
                    {
                        a
                        {
                            img
                            {
                                width: 25px;
                            }
                            span
                            {
                                margin: 2px 0 0 10px;
                            }
                        }
                    }
                }
            }
         }
   }
   
}
@media screen and (max-width:360px)
{
    .send-application
        {
            .candidate-details-text
            {
                .modify-details
                {
                    .mob-width
                    {
                        .form-group
                        {
                            width: auto;
                        }
                    }
                }
            }
        }

}
@media screen and (max-width:320px)
{
    
}