.upload-document-bx
{
    .form-group
    {
        //input
        //{
        //    background-color: #8680B8;
        //    color: #FFF;
        //    font-family: "ArialMT";
        //    font-size: 18px;
        //}
        .upload-file-btn
        {
            background-color: #8680B8;
            color: #FFF;
            font-family: "ArialMT";
            font-size: 18px;
            border: none;
            width: auto;
            height: 50px;
            padding: 10px 20px;
            border-radius: 20px;
        }
    }
    
    .red-label
    {
        font-family: "ArialMT";
            font-size: 23px;
            margin: 0;
            padding: 0 0 20px 5px;
    }
    .upload-box
    {
        width: 100%;
        float: left;
        p
        {
            font-size: 18px;
            color: #303030;
            font-family: 'ArialMT';
            margin: 10px 0 0;
            padding: 0;
        }
        
        .upload-button
        {
            float: left;
            text-align: left;
            margin: 10px 0 0;
            a
            {
                float: left;
            }
            .upload-span-text
            {
                float: left;
                margin: 0 0 0 15px;
                font-size: 18px;
                color: #303030;
                font-family: 'ArialMT';
            }
        }
    }
    .uploaded-box
    {
        float: left;
        padding: 70px 0 0;
        width: 100%;
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
            li
            {
                padding: 0 20px 0 0;
                float: left;
                img
                {
                    float: left;
                }
                span
                {
                    float: left;
                    margin: 8px 0 0 10px;
                    font-family: "ArialMT";
                    font-size: 20px;
                }
            }
        }
    }
    .shadow-img
    {
        width: 100%;
        float: left;
        padding: 160px 100px 160px 0;
        .img-bx
        {
            width: auto;
            float: right;
        }
    }
}



/**************************************************************************** Media query resposive*/

@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{
    
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
   .upload-document-bx
   {
        .shadow-img
        {
            padding: 80px 50px 80px 0;
            .img-bx
            {
                width: 30%;
            }
        }
   }
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:767px)
{
    .upload-document-bx
    {
        .uploaded-box
        {
            padding: 30px 0 0;
        }
        .red-label
        {
            padding: 0 0 10px 5px;
        }
        .uploaded-box
        {
            ul
            {
                text-align: center;
                li
                {
                    display: inline-block;
                    float: none;
                    &:last-child
                    {
                        padding: 10px 0px 0 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:640px)
{
    
}
@media screen and (max-width:600px)
{
   
}
@media screen and (max-width:480px)
{
    .upload-document-bx
    {
        .upload-box
        {
            p
            {
                font-size: 16px;
            }
            .upload-button
            {
                margin: 5px 0 0;
                .upload-span-text
                {
                    font-size: 16px;
                }
            }
        }
        .red-label
        {
            font-size: 18px;
            padding: 0 0 0px 5px;
        }
        .uploaded-box
        {
            ul
            {
                li
                {
                    img
                    {
                        width:  25px;
                    }
                    span
                    {
                        font-size: 16px;
                        margin: 3px 0 0 5px;
                    }
                }
            }
        }
        .shadow-img
        {
            padding: 20px;
            .img-bx
            {
                width: 50%;
                margin: 0 auto;
                float: none;
            }
        }
    }
}
@media screen and (max-width:414px)
{
    .upload-document-bx
    {
        .uploaded-box
        {
            ul
            {
                li
                {
                    padding: 0 10px 0 0;
                }
            }
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}