@font-face {
  font-family: 'Ubuntu-R';
  src: url('Ubuntu-R.eot');
  src: url('Ubuntu-R.woff2') format('woff2'),
       url('Ubuntu-R.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu.woff') format('woff'),
       url('Ubuntu.ttf') format('truetype'),
       url('Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

