@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/proximaNova-bold/ProximaNova-Bold.eot');
  src: url('../fonts/proximaNova-bold/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/proximaNova-bold/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/proximaNova-bold/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/proximaNova-bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/proximaNova-bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-R';
  src: url('../fonts/ubuntu/Ubuntu-R.eot');
  src: url('../fonts/ubuntu/Ubuntu-R.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-R.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-B';
  src: url('../fonts/Ubuntu-B/Ubuntu-B.eot');
  src: url('../fonts/Ubuntu-B/Ubuntu-B.woff2') format('woff2'),
       url('../fonts/Ubuntu-B/Ubuntu-B.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-B/Ubuntu-Bold.woff') format('woff'),
       url('../fonts/Ubuntu-B/Ubuntu-Bold.ttf') format('truetype'),
       url('../fonts/Ubuntu-B/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu.woff') format('woff'),
       url('../fonts/ubuntu/Ubuntu.ttf') format('truetype'),
       url('../fonts/ubuntu/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/arial/ArialMT.woff') format('woff'),
       url('../fonts/arial/ArialMT.ttf') format('truetype'),
       url('../fonts/arialArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial_3';
  src: url('../fonts/arial/arial_3.eot');
  src: url('../fonts/arial/arial_3.woff2') format('woff2'),
       url('../fonts/arial/arial_3.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('../fonts/arial-round/ArialRoundedMTBold.woff') format('woff'),
       url('../fonts/arial-round/ArialRoundedMTBold.ttf') format('truetype'),
       url('../fonts/arial-round/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial-round';
  src: url('../fonts/arial-round/arial-round.eot');
  src: url('../fonts/arial-round/arial-round.woff2') format('woff2'),
       url('../fonts/arial-round/arial-round.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fonarto';
  src: url('../fonts/fonarto/Fonarto.eot');
  src: url('../fonts/fonarto/Fonarto.woff2') format('woff2'),
       url('../fonts/fonarto/Fonarto.woff') format('woff'),
       url('../fonts/fonarto/Fonarto.ttf') format('truetype'),
       url('../fonts/fonarto/Fonarto.svg#Fonarto') format('svg'),
       url('../fonts/fonarto/Fonarto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
