#generate_user_cv{
    padding: 0 0 10px 20px;
}
#generate_user_cv .light-white-bg .container {
    background-color: rgb(255, 255, 255);
}
#generate_user_cv #aboutme-section {
    padding: 0 0 5px;
}
#generate_user_cv #experience-section {
    padding: 0 0 5px;
}
#generate_user_cv .candidate-profile .profile-infor-ttl {
    padding: 10px 0 5px;
}
#generate_user_cv .profile-user-info{
    color: #FA6A63;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 5px;
    padding: 0;
}
#generate_user_cv .profile-infor-ttl {
    color: #FA6A63;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 5px;
    padding: 0;
    font-weight: normal !important;
    display: inline-block;
}
#generate_user_cv .profile-info-bx {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    color: rgb(76, 76, 76);
}
#generate_user_cv .profile-info-bx p {
    color: rgb(76, 76, 76);
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#generate_user_cv .extra-pad-head{
    padding: 0 0 30px;
}
#generate_user_cv .extra-pad-text{
    padding: 0 0 10px;
}
#generate_user_cv .extra-pad {
    padding: 0 0 10px;
}
#generate_user_cv #cources-section {
    padding: 0;
}

#generate_user_cv #skills-section {
    padding: 0 0 5px;
}

#generate_user_cv #skills-section .profile-info-bx .text-box {
    padding: 0;
    position: relative;
}
#generate_user_cv .profile-info-bx .text-box span {
    color: rgb(76, 76, 76);
    font-size: 18px;
    margin: 0 !important;
    padding: 0;
}
#generate_user_cv .set_hobbies_text{
    color: rgb(76, 76, 76);
    font-size: 18px;
    margin: 0 !important;
    padding: 0;
}
#generate_user_cv .set_td_font{
    color: rgb(76, 76, 76);
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
}
#generate_user_cv #hobbies-section {
    padding: 0;
}
#generate_user_cv .text-bx-new p.set_your_job_type{
    color: rgb(76, 76, 76);
    margin: 10px 0 0 0;
    padding: 10px 0 0 20px;
    text-align: left;
}
#generate_user_cv .text-bx-new span.set_your_job_type{
    color: rgb(76, 76, 76);
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-align: left;
}
#generate_user_cv .text-bx-new label.set_your_job_type{
    color: rgb(76, 76, 76);
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-align: left;
}
#generate_user_cv .text-bx-new div.set_your_job_type{
    color: rgb(76, 76, 76);
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-align: left;
}