@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{      
    .all-comment-box
    {
        .comment-bx
        {
            .img-bx
            {
                width: 25%;
            }
            .comment
            {
                width: 75%;
                .comment-text
                {
                    min-height:117px;
                }
            }
        }
        
    }
}
@media screen and (max-width:1024px)
{
   
}
@media screen and (max-width:991px)
{
   .all-comment-box
   {
        padding: 0 0 50px;
        .comment-bx
        {
            .comment
            {
                .comment-text
                {
                    min-height: auto;
                    margin-bottom: 5px;
                    h3
                    {
                        font-size: 19px;
                    }
                    p
                    {
                        font-size: 15px;
                    }
                }
                .add-more
                {
                    label{
                        font-size: 15px;
                    }
                }
            }
        }
   }
   
}
@media screen and (max-width:800px)
{
    
    
}
@media screen and (max-width:767px)
{
    
   
}
@media screen and (max-width:640px)
{
    .blog-main-box
    {
        
        .all-comment-box
        {
             .comment-bx
             {
                 .comment
                 {
                    
                     .comment-text
                     {
                         min-height: auto;
                         margin-bottom: 5px;
                         h3
                         {
                             font-size: 16px;
                             padding: 5px 0;
                         }
                         p
                         {
                             font-size: 14px;
                         }
                     }
                     .add-more
                     {
                         label{
                             font-size: 14px;
                         }
                         span
                         {
                             font-size: 24px;
                             width: 25px;
                             height: 25px;
                             line-height: 22px;
                         }
                     }
                 }
             }
        }
    }
}
@media screen and (max-width:600px)
{
    
}
@media screen and (max-width:480px)
{
   .blog-main-box
   {
    .all-comment-box
     {
        .comment-bx
        {
            padding: 15px;
            .img-bx
            {
                width: 60%;
                float: none;
                margin: 0 auto;
            }
            .comment
            {
                width: 100%;
                padding: 15px 0;
                .comment-text
                {
                    h3
                    {
                        font-size: 16px;
                        padding: 10px 0 5px;
                    }
                    p
                    {
                        font-size: 15px;
                    }
                }
                .add-more
                {
                    text-align: center;
                    span
                    {
                        display: inline-block;
                        float: none;
                    }
                    label
                    {
                        display: inline-block;
                        float: none;
                    }
                }
            }
        }
     }
   }
}
@media screen and (max-width:414px)
{
    
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}