@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{
    .candidate-profile
    {
        .candidate-list
        {
            img
            {
                margin: 0 10px;   
            }
            h3
            {
                font-size: 19px;
            }
        }
    }
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
    .candidate-profile
    {
        .cv-profile-bx
        {
            .inner-profile
            {
                .btn-box button
                {
                    font-size: 16px;    
                }
            }
        }
        .candidate-list
        {
            img
            {
                margin: 0 10px;   
            }
            h3
            {
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:768px)
{
    .candidate-profile
    {
        padding: 20px 0 20px !important;
        .profile-popup
        {
            .modal-dialog
            {
                width: 700px;
            }
        }
    }
}
@media screen and (max-width:767px)
{
    .candidate-profile
    {
        .cv-profile-bx
        {
            .inner-profile
            {
                .btn-box
                {
                    button
                    {
                        padding: 5px 25px;
                        width: auto;
                    }
                }
                .text-bx
                {
                    h3
                    {
                        font-size: 20px;
                    }
                    p
                    {
                        font-size: 16px;
                    }
                    label
                    {
                        font-size: 16px;
                        padding: 15px 0 0;
                    }
                }
            }
        }
    }
    .profile-popup
    {
        .modal-title
        {
            span
            {
                width: 45px;
            }
            h3
            {
                font-size: 20px;
            }
        }
        .modal-dialog
        {
            width: auto;
        }
        .select-bx
        {
            width: 100%;
        }
        .profile-popup .form-group .select-style .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
        {
            width: 50% !important;
            &:last-child
            {
                 margin: 0 0 0 2% !important;
            }
           
        }
        .form-group
        {
            textarea
            {
                height: 150px;
                min-height: 150px;
            }
        }
        select
        {
            width: 50% !important;
             &:last-child
            {
                 margin: 0 0 0 2% !important;
            }
        }
        .form-group
        {
            .select-style
            {
                width: 100%;
                .btn-group
                {
                  width: 50% !important;
                  &:last-child
                  {
                    width: 48% !important;
                    margin: 0 0 0 2% !important;
                  }
                }
            }
        }
        .space-bx
        {
            width: 100%;
            padding-bottom: 20px;
        }
        .check-box
        {
            padding-bottom: 20px;
        }
        .btn-profile
        {
            line-height: 26px;
            margin:  15px auto 0px !important;
            float: none;
            &:first-child
            {
                margin:  0 auto 20px;
            }
        }
    }
}
@media screen and (max-width:640px)
{
    .profile-popup
    {
        .modal-body
        {
            .pupup-button
            {
                padding-bottom: 0;
            }
        }
    }
}
@media screen and (max-width:600px)
{
    .candidate-profile
    {
        
        .candidate-list
        {
            h3
            {
                min-width: 100%;
                text-align: center;
               margin: 0 !important;
            }
            img
            {
                margin: 0 auto 15px;
                display: inherit;
            }
        }
    
    }
}
@media screen and (max-width:480px)
{
    .profile-popup
    {
        .form-group
        {
            margin: 0 0 15px;
        }
        .mob-input-width
        {
            width: 100%;
        }
        .modal-body
        {
            .star-rate
            {
                .rating
                {
                    margin: 0 0 15px;
                }
            }
        }
        .pupup-button
        {
            .poup-span
            {
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width:414px)
{
     
    .candidate-profile
    {
        
        .candidate-list
        {
            h3
            {
                font-size: 18px;
            }
        }
        .resume-tag
        {
            min-height:120px;
            float: left;
            width: 100%;
            label
            {
                font-size: 16px;   
            }
        }
        .pupup-button
        {
            img
            {
                width: 20px;
            }
            .poup-span
            {
                font-size: 16px;   
            }
        }
        .profile-infor-ttl
        {
            padding: 20px 0 5px;
            font-size: 18px;
        }
        .cv-profile-bx
        {
            .inner-profile
            {
                .p-text
                {
                    font-size: 16px;
                }
                .text-bx
                {
                    h3
                    {
                        font-size: 18px;
                    }
                    p
                    {
                        font-size: 15px;
                    }
                    label
                    {
                        font-size: 15px;
                        padding: 15px 0 0;
                    }
                }
            }
        }
    }
    .profile-popup
    {
        .modal-title
        {
            span
            {
                width: 20px;
                margin: 0 10px 0 0;
            }
            h3
            {
                font-size: 13px;
                padding: 5px 0 0 0;
            }
        }
        .form-group
        {
            label
            {
                font-size: 16px;   
            }
            input
            {
                height: 35px;
            }
            textarea
            {
                min-height: 120px;
                height: 120px;
            }
        }
        .select-label
        {
            font-size: 16px;
        }
        .space-bx
        {
            span
            {
                font-size: 16px;   
            }
        }
        .select-bx
        {
            padding: 0 0 15px;
        }
        .space-bx
        {
            padding: 0 0 10px;
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}