@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{      
    
}
@media screen and (max-width:1024px)
{
   
}
@media screen and (max-width:991px)
{
  
   
}
@media screen and (max-width:800px)
{
    .title-box
    {
        h3
        {
            top: -95px;
            font-size: 27px;
        }
        label
        {
            font-size: 150px;
            line-height: 130px; 
        }
    }
}
@media screen and (max-width:767px)
{
    .right-padding
    {
        padding: 0 15px;
    }
    .title-box
    {
        padding: 25px 0 0;
        label
        {
            font-size: 130px;
            line-height: 115px;
            margin: 0;
        }
        h3
        {
            font-size: 24px;
            top: -70px;
        }
    }
    
    .round-btn
   {
        height: 40px;
        font-size: 17px;
        line-height: 26px;
        span
        {
            img
            {
                width: 25px;
                margin: 0 0 0 18px;
            }
        }
   }
   
}
@media screen and (max-width:640px)
{
   
}
@media screen and (max-width:600px)
{
    .title-box
    {
        p
        {
            font-size: 16px;
        }
    }
    .btn-gradiant
    {
        font-size: 15px;
    }
}
@media screen and (max-width:480px)
{
    .title-box
    {
        label
        {
            font-size: 110px;
            line-height: 110px;
        }
        h3
        {
            font-size: 16px;
            top: -70px;
        }
        p
        {
            font-size: 15px;
        }
    }
}
@media screen and (max-width:414px)
{
    .top-section
    {
        padding: 15px 0;
    }
    .round-btn
    {
        span
        {
            padding: 8px 0 0;
        }
    }
}
@media screen and (max-width:360px)
{
    
}
@media screen and (max-width:320px)
{
    
}