@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:991px)
{
   
    .cv-box
    {
        .cv-profile-bx
        {
            .inner-profile
            {
                .text-bx
                {
                    h3
                    {
                        font-size: 24px;
                    }
                    p
                    {
                        font-size: 18px;
                    }
                }
                .img-box
                {
                    .profile-img
                    {
                        height: 150px;
                        width: 150px;
                    }
                }
            }
            
            .cv-icon-bx
            {
                position: relative;
                width: 100%;
                float: left;
                margin: 10px 0 0;
                a
                {
                    .tooltip-bx1
                    {
                        top: 60px !important;
                        left: -47px !important;
                        font-size: 14px !important;
                        img
                        {
                            width: 15px;
                        }
                        i
                        {
                            -ms-transform: rotate(180deg); /* IE 9 */
                            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                            transform: rotate(180deg);
                            position: absolute !important;
                            bottom: 28px !important;
                            right: 120px !important;
                        }
                    }
                    .tooltip-bx2
                    {
                        font-size: 14px !important;
                        right: -80px !important;
                        min-width: 240px !important;
                        bottom: -52px !important;
                        img
                        {
                            width: 15px;
                        }
                        i
                        {
                            position: absolute !important;
                            top: -14px !important;
                            right: 90px !important;
                        }
                    }
                }
            }
            
        }
        .cv-text-bx
        {
            padding: 15px;
            p
            {
                font-size: 16px;
            }
        }
    }
    .candidate-list
    {
        margin: 0 auto 25px;
            img
            {
                width: 40px;
                margin: 0 20px;
            }
            h3
            {
                margin: -32px 0 0 0px;
                font-size: 22px;
            }
    }
    .profile-info-bx
    {
        p
        {
            font-size: 16px;   
        }
        ul
        {
            padding: 0 0 40px 15px;
            li
            {
                font-size: 16px;   
            }
        }
        .text-box
        {
            span
            {
                font-size: 16px;   
            }
        }
    }
    .profile-infor-ttl
    {
        font-size: 20px;
    }
    .extra-pad
    {
        padding: 0 0 25px !important;
    }
}
@media screen and (max-width:800px)
{
    
}
@media screen and (max-width:768px)
{
    
}
@media screen and (max-width:767px)
{
    .cv-box
    {
        .cv-profile-bx
        {
            .inner-profile
            {
                width: 100%;
            }
            .cv-icon-bx
            {
                position: initial; 
            }
        }
    }
    .candidate-list
    {
        margin: 25px auto;
        img
        {
            margin: 0 5% 0 20%;
        }
    }
    .profile-info-bx
    {
        ul
        {
            padding: 0 0 15px 15px;   
        }
    }
}
@media screen and (max-width:640px)
{
    
}
@media screen and (max-width:600px)
{
    .candidate-list
    {
        img
        {
            margin: 0 5% 0 10%;
        }
    }
}
@media screen and (max-width:480px)
{
    .profile-info-bx
    {
        .text-box
        {
            .star-rate
            {
                position: relative;
                float: left;
                padding: 15px 0 0 0;
                min-width: 100%;
            }
        }
    }
    .candidate-list
    {
        text-align: center;
        img
        {
            margin: 0 15px 0 10px;
            display: inline-block;
        }
        h3
        {
            min-width: 100%;
            display: inline-block;
            margin: 15px 0 0 0;
        }
    }
}
@media screen and (max-width:414px)
{
    .cv-box
    {
        .cv-profile-bx
        {
            .inner-profile
            {
                .img-box
                {
                    .profile-img
                    {
                        width: 100px;
                        height: 100px;
                    }
                }
                .text-bx
                {
                    padding: 10px 0 0;
                    h3
                    {
                        font-size: 20px;
                    }
                    p
                    {
                        font-size: 16px;
                    }
                }
            }
        }
        .cv-text-bx
        {
            p
            {
                font-size: 14px;   
            }
        }
        .candidate-list
        {
            
            
                h3
                {
                    margin: 0px;
                    min-width: 100%;
                }
                img
                {
                    margin: 0 5px;
                }
            
        }
        .profile-info-bx
        {
            p
            {
                font-size: 14px;   
            }
            ul
            {
                li
                {
                    font-size: 14px;
                }
            }
            .text-box
            {
                span
                {
                    font-size: 14px;       
                }
            }
        }
    }
}
@media screen and (max-width:360px)
{
    .candidate-list
    {
        
        h3
        {
            font-size: 18px;       
        }
        
    }
}
@media screen and (max-width:320px)
{
    
}