@media screen and (max-width:1280px)
{
    
}
@media screen and (max-width:1200px)
{      
    
}
@media screen and (max-width:1024px)
{
   
}
@media screen and (max-width:991px)
{
    header
    {
        .navbar
        {
            height: 85px;
            .navbar-nav
            {
                margin-right: 0;
                li
                {
                    padding: 10px 7px 0;
                    .thumbnail
                    {
                        img
                        {
                            width: 35px;
                            -webkit-transition: all 0.5s ease;
                                    transition: all 0.5s ease;
                        }
                        font-size: 13px;
                    }
                }
            }
            .language
            {
                width: 70px;
            }
        }
        .animate-nav
        {
            height: 75px;
            .navbar-nav
            {
                li
                {
                    .thumbnail
                    {
                        img
                        {
                            width: 25px;
                            -webkit-transition: all 0.5s ease;
                                    transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
        .navbar-brand
        {
            width: 160px;
        }
        .nav li
        {
            padding: 10px 10px 0;
        }
    }
    .top-section
    {
        margin: 85px 0 0;
    }
}
@media screen and (max-width:800px)
{
    .hm-slider-content
    {
        blockquote
        {
            font-size: 16px;
        }
    }
    
    
}
@media screen and (max-width:767px)
{
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus
    {
        background-color: #00B2AA;
    }
    header
    {
        .navbar
        {
            height: 65px;
            .navbar-nav
            {
                margin: 0 -15px;
                padding: 10px;
                border-bottom: 1px solid #d1d1d1;
                li
                {
                    .thumbnail
                    {
                        img
                        {
                            display: inline;
                            width: 30px;
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
            .language
            {
                margin: 16px 5px 0;
                border-radius: 4px;
                border: 1px solid #00B2AA;
                .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
                {
                    width: 68px;
                }
            }
        }
        .animate-nav
        {
            .navbar-header
            {
                .navbar-brand
                {
                    width: 165px;
                }
            }
        }
        .navbar-header
        {
            height: 60px;
            .navbar-brand
            {
                width: 165px;
                padding: 5px 10px !important;
            }
            .navbar-toggle
            {
                top: 8px;
                background-color: #00B2AA;
                border: 1px solid #00B2AA;
            }
            
        }
        
    }
    header .nav li
    {
        width: 100%;
        float: left;
    }
   
   .hm-banner
   {
        .banner-title
        {
            padding-bottom: 130px;
            h1
            {
                font-size: 30px;
            }
        }
        .hm-banner-search-bx
        {
            padding: 15px 0;
            .btn-box
            {
                text-align: center;
                .hm-banner-search-btn
                {
                    margin: 15px 0 0 0;
                    width: 245px;
                }
            }
        }
   }
   .top-section
   {
        margin: 65px 0 0;
   }
   .hm-info-banner
   {
        .info-text
        {
            .left-text
            {
                width: auto;
            }
        }
   }
   .hm-slider-content
   {
        padding: 30px 0 15px;
        .slider-right-bx
        {
            p
            {
                border: none;
                padding: 0 15px;
            }
        }
        .slider-left-bdr
        {
            margin: 30px 0 20px;
        }
   }
   
   .hm-email-bx
   {
        h3
        {
            margin: 0 0 015px;
            text-align: center;
            font-size: 16px;
            
        }
   }
   footer
   {
        .ftr-logo
        {
            img
            {
                margin: 0 auto 15px;
            }
        }
   }
   
}
@media screen and (max-width:640px)
{
    
}
@media screen and (max-width:600px)
{
    .hm-popup
    {
        .modal-header
        {
            .modal-title
            {
                span
                {
                    img
                    {
                        width: 40px;
                    }
                }
                h3
                {
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width:480px)
{
    .hm-banner
    {
        padding: 30px 0 15px;
        .banner-title
        {
            padding-bottom: 130px;
            h1
            {
                font-size: 18px;
            }
        }
    }
     .hm-email-bx
    {
        h3
        {
          font-size: 15px;  
        }
        .input-group
        {
            input
            {
                padding: 10px 130px 10px 10px;
            }
            .hm-email-send-btn
            {
                font-size: 15px;
                width: 140px;
                padding: 12px 10px;
            }
        }
    }
    footer
    {
        .footer-container
        {
            ul
            {
                li
                {
                    a
                    {
                        font-size: 14px;
                    }
                }
            }
            .copy-right
            {
                h5
                {
                    font-size: 13px;   
                }
            }
        }
        .ftr-logo
        {
            img
            {
                width: 180px; 
            }
        }
    }
    .hm-popup
    {
        .modal-header
        {
            .modal-title
            {
                span
                {
                    img
                    {
                        width: 30px;
                    }
                }
                h3
                {
                    font-size: 14px;
                    margin: 40px 0 0;
                }
            }
        }
        .popup-logo-title-bx
        {
            .popup-social-logo
            {
                a
                {
                    img
                    {
                        width: 120px;
                    }
                }
            }
        }
    }
    .hm-popup
    {
        .modal-body
        {
            .form-group
            {
                label
                {
                    font-size: 15px;
                }
                input
                {
                    height: 35px;
                }
            }
        }
    }
    .hm-info-banner
    {
        .info-text
        {
            .hm-info-header
            {
                .number-bx
                {
                    width: 45px;
                    height: 45px;
                    font-size: 24px;
                    padding: 5px 0 0;
                }
                h3
                {
                    font-size: 17px;
                    padding: 14px 0 0;
                }
            }
            .left-text
            {
                h3
                {
                    font-size: 18px;
                }
                ul
                {
                    li
                    {
                        padding: 5px 0 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:414px)
{
    .hm-ftr-mob-width
    {
        width: 100%;
    }
    .hm-banner
    {
        .banner-title
        {
            h1
            {
                font-size: 14px;
                line-height: 14px;
            }
        }
        .hm-banner-search-bx
        {
            .btn-box 
            {
                .hm-banner-search-btn
                {
                    font-size: 14px;
                    width: 200px;
                }   
            }
        }
    }
    
}
@media screen and (max-width:360px)
{
    .hm-popup
    {
        .popup-logo-title-bx
        {
            .hm-popup-ttl-text
            {
                .title
                {
                    font-size: 15px;
                }
            }
            .popup-social-logo
            {
                a
                {
                    img
                    {
                        margin: 15px 0 0 0;
                        
                    }
                }
            }
        }
    }
}
@media screen and (max-width:320px)
{
    
}