@media screen and (max-width:1370px){
    .hm-banner
    {
        .banner-title
        {
            padding-bottom: 340px;   
        }
    }
    
}
@media screen and (max-width:1280px)
{
    .hm-banner
    {
        .banner-title
        {
            padding-bottom: 330px;   
        }
    }
    footer
    {
        .footer-container
        {
            ul
            {
                li
                {
                    a
                    {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px)
{      
    
}
@media screen and (max-width:1024px)
{
   
}
@media screen and (max-width:991px)
{
    header
    {
        .camdidate-navbar
        {
            .navbar-nav
            {
                li
                {
                    padding: 10px 20px 0 !important;
                    &:last-child
                    {
                        
                    }
                }
                
            }
        }
        .navbar
        {
            height: 85px;
            .navbar-nav
            {
                margin-right: 0;
                li
                {
                    padding: 10px 7px 0;
                    .thumbnail
                    {
                        img
                        {
                            width: 35px;
                            -webkit-transition: all 0.5s ease;
                                    transition: all 0.5s ease;
                        }
                        font-size: 13px;
                    }
                }
                .dropdown-menu
                {
                    top: 80px;
                }
            }
            .language
            {
                width: 70px;
            }
        }
        .animate-nav
        {
            height: 75px;
            .navbar-nav
            {
                li
                {
                    .thumbnail
                    {
                        img
                        {
                            width: 25px;
                            -webkit-transition: all 0.5s ease;
                                    transition: all 0.5s ease;
                        }
                    }
                }
            }
            .dropdown-menu
            {
                top: 74px;
                li
                {
                    a
                    {
                        font-size: 13px;
                    }
                }
            }
        }
        .navbar-brand
        {
            width: 160px;
        }
        .nav li
        {
            padding: 10px 10px 0;
        }
    }
    .top-section
    {
        margin: 85px 0 0;
    }
    .hm-banner
        {
          .banner-title
          {
               padding-bottom: 350px;
              h1
              {
                  font-size: 36px;
                  line-height: 28px;
              }
          }
        }
        .hm-banner
        {
           
            .hm-banner-search-bx
            {
                .btn-box
                {
                    .hm-banner-search-btn
                    {
                        font-size: 16px;
                    }
                }
            }
        }
}
@media screen and (max-width:800px)
{
    .hm-slider-content
    {
        blockquote
        {
            font-size: 16px;
        }
    }
    
    
}
@media screen and (max-width:767px)
{
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse
    {
        max-height: auto;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
    {
        color: #FFF;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus
    {
        background-color: #00B2AA;
    }
   
    header
    {
        .camdidate-navbar
        {
            .navbar-nav
            {
                li
                {
                    padding: 5px 0 !important;
                    a
                    {
                        .down-caret
                        {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .navbar
        {
            height: 65px;
            .navbar-nav
            {
                margin: 0 -15px;
                padding: 10px;
                border-bottom: 1px solid #d1d1d1;
                li
                {
                    .thumbnail
                    {
                        img
                        {
                            display: inline;
                            width: 30px;
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
            .open
            {
                .dropdown-menu
                {
                    margin: 5px 0 0;
                    background-color: #FA6A63;
                    float: left;
                    overflow-y: auto;
                    li
                    {
                        padding: 0 !important;
                        a
                        {
                            color: #FFF;
                            &:hover, &:focus, 
                            {
                                background-color: #00ABA4 !important;
                            }
                        }
                    }
                }
            }
            
            .language
            {
                margin: 16px 5px 0;
                border-radius: 4px;
                border: 1px solid #00B2AA;
                .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
                {
                    width: 68px;
                }
                .dropdown-menu
                {
                    left: -2px;
                    top: 34px;
                }
            }
        }
        .animate-nav
        {
            .navbar-header
            {
                .navbar-brand
                {
                    width: 165px;
                }
            }
        }
        .navbar-header
        {
            height: 60px;
            .navbar-brand
            {
                width: 165px;
                padding: 5px 10px !important;
            }
            .navbar-toggle
            {
                top: 8px;
                background-color: #00B2AA;
                border: 1px solid #00B2AA;
            }
            
        }
        
    }
    header .nav li
    {
        width: 100%;
        float: left;
    }
   .hm-banner
    {
        .banner-title
        {
            padding-bottom: 330px;
            h1
            {
                font-size: 28px;
                line-height: 24px;
            }
        }
        .hm-banner-search-bx
        {
            padding: 15px 0;
            .btn-box
            {
                text-align: center;
                .hm-banner-search-btn
                {
                    margin: 15px 0 0 0;
                    width: 245px;
                    font-size: 16px;
                }
            }
        }
    }
  
   .top-section
   {
        margin: 65px 0 0;
   }
   .hm-about-text
   {
    .text-bx
    {
        .info-text
        {
            margin: 10px 0 30px;
        }
    }
   }
   
   .hm-info-banner
   {
        .info-text
        {
            
            .left-text
            {
                width: auto;
            }
        }
   }
   .hm-slider-content
   {
        padding: 30px 0 15px;
        .slider-right-bx
        {
            p
            {
                border: none;
                padding: 0 15px;
            }
        }
        .slider-left-bdr
        {
            margin: 30px 0 20px;
        }
   }
   
   .hm-email-bx
   {
        h3
        {
            margin: 0 0 015px;
            text-align: center;
            font-size: 16px;
            
        }
   }
   footer
   {
        .ftr-logo
        {
            img
            {
                margin: 0 auto 15px;
            }
        }
   }
   
}
@media screen and (max-width:640px)
{
    .hm-banner
    {
        padding: 30px 0 20px;
        .banner-title
        {
            padding-bottom: 35px;
            h1
            {
                font-size: 24px;
                line-height: 20px;
            }
        }
        .hm-banner-search-bx
        {
            .hm-search-input
            {
                height: 35px;
            }
            .hm-banner-search-btn
            {
                font-size: 15px;   
            }
        }
    }
    .hm-scroll-down-bx
    {
        padding: 10px 0;
        .mause-img-bx
        {
            img
            {
                
            }
        }
        
    }
}
@media screen and (max-width:600px)
{
    .hm-popup
    {
        .modal-header
        {
            .modal-title
            {
                span
                {
                    img
                    {
                        width: 40px;
                    }
                }
                h3
                {
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width:480px)
{
    .hm-banner
    {
        padding: 15px 0 15px;
        .banner-title
        {
            padding-bottom: 20px;
            h1
            {
                font-size: 18px;
            }
        }
    }
     .hm-email-bx
    {
        h3
        {
          font-size: 15px;  
        }
        .input-group
        {
            input
            {
                padding: 10px 130px 10px 10px;
                height: 45px;
            }
            .hm-email-send-btn
            {
                font-size: 15px;
                width: 140px;
                padding: 12px 10px;
            }
        }
    }
    footer
    {
        .footer-container
        {
            ul
            {
                li
                {
                    a
                    {
                        font-size: 14px;
                    }
                }
            }
            .copy-right
            {
                h5
                {
                    font-size: 13px;   
                }
            }
        }
        .ftr-logo
        {
            img
            {
                width: 180px; 
            }
        }
    }
    .hm-popup
    {
        .modal-header
        {
            .modal-title
            {
                span
                {
                    img
                    {
                        width: 30px;
                    }
                }
                h3
                {
                    font-size: 14px;
                    margin: 40px 0 0;
                }
            }
        }
        .popup-logo-title-bx
        {
            .popup-social-logo
            {
                a
                {
                    img
                    {
                        width: 120px;
                    }
                }
            }
        }
    }
    .hm-popup
    {
        .modal-body
        {
            .form-group
            {
                label
                {
                    font-size: 15px;
                }
                input
                {
                    height: 35px;
                }
            }
        }
    }
    .hm-info-banner
    {
        .info-text
        {
            .hm-info-header
            {
                .number-bx
                {
                    width: 45px;
                    height: 45px;
                    font-size: 24px;
                    padding: 5px 0 0;
                }
                h3
                {
                    font-size: 17px;
                    padding: 14px 0 0;
                }
            }
            .left-text
            {
                h3
                {
                    font-size: 18px;
                }
                ul
                {
                    li
                    {
                        padding: 5px 0 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:414px)
{
    .hm-ftr-mob-width
    {
        width: 100%;
    }
    .hm-about-text
    {
        .text-bx
        {
            .img-bx
            {
                width: 140px;
                .left-box
                {
                    font-size: 60px;
                    line-height: 54px;
                    width: 80px;
                }
                .right-box
                {
                    width: 60px;
                }
            }
        }
    }
    .hm-banner
    {
        .banner-title
        {
            h1
            {
                font-size: 16px;
                line-height: 14px;
            }
        }
        
        .hm-banner-search-bx
        {
            .btn-box 
            {
                .hm-banner-search-btn
                {
                    font-size: 14px;
                    width: 200px;
                }   
            }
        }
    }
    .hm-info-banner
        {
            .info-text
            {
                .hm-info-header
                {
                    h3
                    {
                        font-size: 14px;
                        padding: 10px 0 0;
                    }
                    .number-bx
                    {
                        height: 35px;
                        width: 35px;
                        font-size: 18px;
                        padding: 4px 0 0 0;
                        margin: 0 6px 0 0;
                    }
                }
                .left-text
                {
                    h3
                    {
                        font-size:14px;
                        
                    }
                }
            }
        }
    .hm-slider-content
    {
        .slider-blockquote
        {
            blockquote
            {
                font-size: 16px;
                width: 280px;
                padding: 0 10px;
                border-left: 10px solid #FFF;
            }
        }
    }
}
@media screen and (max-width:360px)
{
    .hm-popup
    {
        .popup-logo-title-bx
        {
            .hm-popup-ttl-text
            {
                .title
                {
                    font-size: 15px;
                }
            }
            .popup-social-logo
            {
                a
                {
                    img
                    {
                        margin: 15px 0 0 0;
                        
                    }
                }
            }
        }
    }
}
@media screen and (max-width:320px)
{
    
}