h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}
.modal-backdrop.in
{
    z-index: 0;
}
label
{
    font-weight: normal !important;
}
.top-section
{
    margin: 95px 0 0;
    padding: 60px 0 20px;
}
//.modal-open
//{
//    overflow: auto;
//}
.white-bg
{
    background-color: #FFF;
}
.light-white-bg{
    background-color: #FBFBFB;
    .container
    {
        background-color: #FFF;
    }
}
.green-light
{
    background-color: #00ABA4;
}
.popup-green
{
    background-color: #00918A;
}

.green-light-font
{
    color: #00ABA4 !important;
}
.black-font{
    color: #666;
}
.green  
{
    background-color: #67A184;
}
.green-font
{
    color: #67A184;
}
.red-font
{
    color: #FA6A63;
}
.red-bg
{
    background-color: #FA6A63;
}
.dark-red
{
    background-color: #D1433D;
}
.blue-ng
{
    background-color: #009BD4;
}
.profile-popup-green
{
    background-color: #86C361 !important;
}
.profile-popup-dark-green
{
    background-color: #57883C !important;
}
.popup-blue
{
    background-color: #4877E6 !important;
}
.popup-dark-blue
{
    background-color: #2752B0 !important;
}
.purple
{
    background-color: #833CA7;
}
.grey-dark
{
    background-color: #848484 !important;
}
.grey-light
{
    background-color: #AAAAAA !important;
}
.yellow-bg
{
    background-color: #E4B853 !important;
}
a:focus
{
    outline: none;
    outline-offset: 0;
}
a:hover
{
    text-decoration: none;
}
.border-radius
{
    border-radius: 20px;
    border: 1px solid #d1d1d1;
}
.no-padding
{
    padding: 0;
}
.extra-pad
{
    padding: 0 0 35px !important;
}
.right-padding
{
    padding: 0 15px 0 0;
}
.btn-gradiant
{
    background: #00aba4; /* Old browsers */
    background: -moz-linear-gradient(left, #00aba4 0%, #009bd2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00aba4 0%,#009bd2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00aba4 0%,#009bd2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aba4', endColorstr='#009bd2',GradientType=1 ); /* IE6-9 */
    border-radius: 20px;
    font-family: 'ArialMT';
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}
.title-box
    {
        width: 100%;
        float: left;
        padding: 70px 0 0;
        label
        {
            font-size: 247px;
            color: #e2e2e2;
            width: 100%;
            text-align: center;
            line-height: 140px;
            font-family: 'ProximaNova-Bold';
            text-transform: uppercase;
            font-weight: normal; 
        }
        h3
        {
            text-align: center;
            margin: 0;
            padding: 0;
            position: relative;
            top: -105px;
            text-transform: uppercase;
            font-size: 37px;
            font-family: 'arial-round';
        }
        p
        {
            font-size: 18px;
            color: #000;
            text-align: center;
        }
    }
.round-btn
{
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    border-radius: 20px;
    span
    {
        font-size: 32px;
        padding: 10px 0 0;
        top: 0;
        width: 60px !important;
        img
        {
            margin: 0px 0 0 15px;
            -webkit-transition: -webkit-transform .8s ease-in-out;
            -ms-transition: -ms-transform .8s ease-in-out;
            transition: transform .8s ease-in-out;
        }
    }
    &:hover
    {
        color: #FFF;
        img
        {
            transform:rotate(360deg);
            -ms-transform:rotate(360deg);
            -webkit-transform:rotate(360deg);
        }
    }
}
.round-flat-btn
{
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    border-radius: 20px;
    background-color: #8680B8;
    padding: 5px 15px;
}

.btn-block + .btn-block
{
    margin: 0;
}
.check-box
{
    width: 100%;
    float: left;
    .checkbox-custom, .radio-custom
    {
        opacity: 0;
        position: absolute;   
    }
    
    .checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
    }
    
    .checkbox-custom-label, .radio-custom-label {
        position: relative;
    }
    
    .checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
        content: '';
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        padding: 2px;
        margin-right: 10px;
        text-align: center;
    }
    
    .checkbox-custom:checked + .checkbox-custom-label:before {
        content: "\f00c";
        font-family: 'FontAwesome';
        color: #000;
    }
    
    .radio-custom + .radio-custom-label:before {
        border-radius: 50%;
    }
    
    .radio-custom:checked + .radio-custom-label:before {
        content: "\f00c";
        font-family: 'FontAwesome';
        color: #bbb;
    }
    
    .checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
      outline: none; /* focus style */
    }
}

.star-rate
{
    position: absolute;
    top: 0;
    right: 0;
    .rating { 
        border: none;
        float: left;
      }
      
      .rating > input { display: none; } 
      .rating > label:before { 
        margin: 0px 5px;
        font-size: 22px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
      }
      
      .rating > .half:before { 
        content: "\f089";
        position: absolute;
      }
      
      .rating > label { 
        color: #ddd; 
       float: right;
       margin: 0;
      }
      
      /***** CSS Magic to Highlight Stars on Hover *****/
      
      .rating > input:checked ~ label, /* show gold star when clicked */
      .rating:not(:checked) > label:hover, /* hover current star */
      .rating:not(:checked) > label:hover ~ label { color: #000;  } /* hover previous stars in list */
      
      .rating > input:checked + label:hover, /* hover current star when changing rating */
      .rating > input:checked ~ label:hover,
      .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
      .rating > input:checked ~ label:hover ~ label { color: #999;  } 
}
.img-box
{
    width: 100%;
    float: left;
    .profile-img
    {
        width: 180px;
        height: 180px;
        margin: 0 auto;
        border-radius: 50%;
        img
        {
            width: 100%;
            height: 100%;
        }
    }
}
.form-group
{
    input
    {
        height: 45px;
        border-radius: 20px;
        color: #000;
        font-size: 18px;
        font-family: 'ArialMT';
    }
    .form-control:focus
    {
        box-shadow: none;
        border-color: #d1d1d1;
        
    }
}

.select-bx
{
    .select-label
    {
        color: #303030;
        font-size: 20px;
        font-family: 'ArialMT';
        font-weight: 500;
        margin: 0;
        padding: 0 0 5px;
        float: left;
        min-width: 100%;
    }
    .form-group
    {
        margin-bottom: 20px;
        
        input
        {
            height: 45px;
            border-radius: 20px;
        }
        textarea
        {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 220px;
            height: 220px;
            background-color: #FFF;
            border: 1px solid #d1d1d1;
            border-radius: 20px;
            padding: 15px;
        }
        label
        {
            color: #303030;
            font-size: 20px;
            font-family: 'ArialMT';
            font-weight: 500;
            margin: 0;
            padding: 0 0 5px;
        }
        
        .select-style
        {
            
            float: left;
            select
            {
                width: 150px !important;
                float: left;
                
            }
            .btn-default
            {
                background-image: none;
                border-radius: 20px;
                &:hover
                {
                    background-color: transparent;
                }
            }
            .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            {
                width: 150px;
                float: left;
                &:last-child
                {
                    margin:  0 0px 0 15px;
                }
            }
            .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default
            {
                background-color: transparent;
            }
            .btn-default:hover, .btn-default:focus
            {
                background-color: transparent;
            }
            label
            {
                min-width: 100%;
                float: left;
                font-weight: 500;
                font-family: 'ArialMT';
                font-size: 20px;
            }
        }
    }
}
//@mixin gradient-button-bx
//{
//    
//}
