/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Nov, 2016, 3:42:41 PM
    Author     : Nitinkumar vaghani
*/

.user_profile_menu {    
    margin-top: 16px !important;
    margin-right: -12px;
    min-width: 180px;
}
.margin_left_10{
    margin-left: 10px;
    padding: 10px 30px;
}
.set_datatable_view_button,.set_datatable_edit_button,.delete_data_button{
    height: 37px;
    width: 37px;
    font-size: 15px !important;
    border-radius: 50% !important;
    margin-left: 5px;
}

.delete_data_button i{
    top:9px !important;
}
.set_datatable_view_button i{
    right: 2px !important;
    top: 4.5px !important;
}
.set_datatable_edit_button i{
    font-size: 17px !important;
    right: 2px;
    top: 4px;
}

.icon_15{
    font-size: 18px !important;
}
.cancel_button{
    padding: 10px 25px 10px 25px;
}
.submit_button{
    margin-left: 10px;
    padding: 10px 38px;
}
.reset_filter{
    padding: 10px 30px 10px 30px;
}
.search_filter {
    margin-left: 11px;
    padding: 10px 27px 10px 28px;
}
.add_button_panel{
    right: -5px;
    top: -25px;
}
.add_button_on_list{
    padding: 3px 26px 7px 21px;
}
.matirial_icon_add{
    top:5px !important;
}
.set_add_button{
    margin: 0 auto;
    padding: 0
}

.dataTables_length .show-tick{
    width: auto !important;
}

.dataTables_wrapper .dt-buttons {
    float: right !important;
    left: 0;
    position: relative !important;
}

.buttons-excel{
    background-color: #00bcd4 !important;
}

.drop_arrow{
    position: absolute;right: 0px;top: 3px;cursor: pointer
}
.payment_in_cent_per_email .input-group {
    margin-bottom: 5px;
}
#setting_add_form .error {
    color: rgb(244, 67, 54);
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 0 18px;
    max-width: 100%;
}
.mp0{
    margin: 0 auto;
    padding: 0;
}
.payment_in_cent_per_email .input-group .input-group-addon:first-child {
    font-size: 20px;
    padding: 0 8px 9px 0;
}
.post_application li {
    left: -2px;
    position: relative;
    text-align: center;
    top: 3px;
    width: 50%;
}