/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Nov, 2016, 6:27:24 PM
    Author     : imobdev6
*/

.form_container .form-horizontal .form-group{
    margin: 0 0 25px !important;
}
.fileinput-upload-button , .fileinput-remove{
    display:none;
}
.error p{
    color: rgb(244, 67, 54);
}
div.btn-file{
    padding: 6px 16px 8px 17px;
}
table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center;
}
.dataTables_wrapper .dataTables_processing {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    font-size: 1.2em;
    height: 40px;
    left: 50%;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 40px;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
}

.user_select_list{
    margin: 0 auto !important;
    padding: 0 0 0 11px !important;
    content: none !important;
}
.user_select_list.sorting_asc:after{
    content: none !important;
}
.set_select_label{
    font-weight: bold !important;
    font-size: 14px !important;
}
#datatable_list a:hover{text-decoration: none;}
.dataTables_scroll
{
    overflow:auto;
}
#datatable_list tbody{
    max-height: 300px;
}
@media (max-width:450px){
    .pagination > li > a, .pagination > li > span {
        padding: 6px 5px !important;
        font-size: 12px !important;
    }
}