.top
{
    margin-top: 50px;
}
.l_margin
{
    margin-left: 30px;
}
.r_margin{
    margin-right: 30px;
}
.r_padding
{
    padding-right:30px;
}
.pager_company_list{
    height:39px !important
        font-size: 15px !important;
}
.ui-jqgrid .form-control {
    display: inline;
    height: 23px;
    padding: 0 10px;
    width: auto;
}
.ui-jqgrid-titlebar .btn-primary,.ui-jqgrid-titlebar .btn-info,.ui-jqgrid-titlebar .btn-success, .ui-jqgrid-titlebar .btn-danger{
    color: #FFF !important;
    padding: 8px auto !important;
    margin-top: 9px;
    margin-right: 9px;
    float: right;
    text-transform: none !important;
}
.link{
    color: #0091D2 !important;
}
#page-wrapper{
    min-height: 100vh;
}
.ui-widget-content a.btn-primary{
    color: #FFF !important;
}
.ui-widget-content a.btn-danger{
    color: #FFF !important;
}
.ui-jqgrid-btable td a{
    color: #428bca !important;
}
.tab1
{
    width: 50%;
}
.tab2
{
    width:50%;
}
.myerror
{
    font-weight: bold;
    color:#cc5965;
}
.margin_bottom
{
    margin-bottom: 20px;
}
.status_black
{
    background-color: #293846;
}
.status_blue
{
    background-color: #726df1;
}
.status_red
{
    background-color: #f16868;   
}
.status_green
{
    background-color: #235818;
}
.status_yellow
{
    background-color: #D9E837;
}
.chosen-container-single .chosen-single {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: text;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;
    width: 100%;
}

.nav-header ul li a i{
    margin-right: 6px;
}

.fileinput-upload-button{
    display: none !important; 
}

.detail_notification a{
    color:#676A6C;
}
#map {
    height: 400px;
    width: 100%;
    overflow: hidden;
}
