@font-face {
  font-family: 'Fonarto';
  src: url('Fonarto.eot');
  src: url('Fonarto.woff2') format('woff2'),
       url('Fonarto.woff') format('woff'),
       url('Fonarto.ttf') format('truetype'),
       url('Fonarto.svg#Fonarto') format('svg'),
       url('Fonarto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

